﻿<div class="container-fluid manage-orders-container">
    <div class="row">
        <div class="col-md-12 nav-steps nopadding margin-t-10 border-bottom">
            <div class="page-steps">
                <a href="#" class="medium-blue-1">{{'ORDERS'| translate}}</a>
                <a href="#"> &#47; {{'MANAGE_ORDERS'| translate}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="manage-title text-center">{{'MANAGE_ORDERS'| translate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="line-up"></div>
        <div class="col-md-6 col-sm-6 text-left margin-b-10 nopadding">
            <p class="order-text">{{'TOTAL_ORDERS'| translate}}: <span ng-bind="orders.details.items.length"></span></p>
        </div>
        <div class="col-md-6 col-sm-6 text-right margin-b-10 nopadding">
            <div class="dropdown dropdown-filters">
                <button class="btn-lm btn-lm-filter dropdown-toggle" type="button" data-toggle="dropdown" ng-click="orders.openFilterByStatus($event)">
                    {{orders.selectedStatus.name | translate}}<i class="fa fa-spinner spinning" ng-show="orders.isLoadingFilters"></i><span class="angle-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </button>
                <ul class="dropdown-menu menu-right scrollbar-bar" ng-show="orders.showStatusFilters">
                    <li ng-repeat="status in orders.statuses" ng-click="orders.applyFilter(status)">
                        <a class="pointer" ng-bind="status.name"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 table-products order-table nopadding">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'ORDER_NO'| translate}}</th>
                            <th>{{'CREATION_DATE'| translate}}</th>
                            <th class="landscape-status">{{'STATUS'| translate}}</th>
                            <th class="landscape-status">{{orders.isBuyer ? 'SELLER' : 'BUYER' | translate}}</th>
                            <th>{{'CONFIRMED_STYLES'| translate}}</th>
                            <th>{{'CONFIRMED_UNITS'| translate}}</th>
                            <th>
                                <span ng-show="orders.isBuyer">{{'TOTAL_LANDED_COST'| translate}}</span>
                                <span ng-hide="orders.isBuyer">{{'ORDER_VALUE'| translate}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders.details.items">
                            <td>
                                <a class="pointer" ng-click="orders.viewDetails($event, order)"><span class="order-number" ng-bind="order.poNumber"></span></a>
                            </td>
                            <td>
                                <div class="margin-0 creation-date">
                                    <span class="input-date">{{order.orderCDate.getMonth() + 1}}</span>
                                    <span class="bar">&#47;</span>
                                    <span class="input-date">{{order.orderCDate.getDate()}}</span>
                                    <span class="bar">&#47;</span>
                                    <span class="input-date">{{order.orderCDate.getFullYear()}}</span>
                                </div>
                            </td>
                            <td>
                                <span ng-bind="order.orderStatusTypeName"></span>
                            </td>
                            <td>
                                <span ng-bind="order.sellerOrBuyerName"></span>
                            </td>
                            <td>
                                <span ng-bind="order.totalStyles"></span>
                            </td>
                            <td>
                                <span ng-bind="order.totalUnits"></span>
                            </td>
                            <td>
                                <span ng-bind="orders.isBuyer ? (order.totalCost | currency: undefined: 0) : (order.totalCost | currency: undefined: 2)"></span>
                            </td>
                        </tr>
                        <tr ng-show="orders.isLoading">
                            <td colspan="7" class="text-center"><i class="fa fa-spinner spinning"></i></td>
                        </tr>
                        <tr ng-show="orders.details.items.length === 0">
                            <td colspan="7" class="text-center">{{'HAVENT_FOUND_ANY_ORDER'| translate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>