﻿.cart-items {
    .empty-cart-link {
        text-transform: lowercase;
        color: $red;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    button {
        width: auto;
        padding: 8px 20px;
        min-width: 150px;
        border: 1px solid transparent;

        @media (max-width: $screen-md) {
            padding: 5px 15px;
            min-width: 100px;
        }

        @media (max-width: $screen-land) {
            width: 55%;
            padding: 8px 3px;
            font-size: 14px;
        }

        &.inverse {
            background-color: $white;
            color: $black;
            border: 1px solid $black;

            @media (max-width: $screen-md) {
                font-size: 12px;
            }
        }

        &.big-font {
            letter-spacing: 1.5px;
            font-size: 16px;

            @media (max-width: $screen-land) {
                font-size: 14px;
            }

            @media (max-width: $screen-md) {
                font-size: 12px;
            }
        }

        + button {
            margin-left: 15px;

            @media (max-width: $screen-md) {
                margin-left: 10px;
            }
        }

        &.btn-lm-export {
            font-size: 16px;

            @media (max-width: $screen-md) {
                font-size: 14px;
            }

            @media (max-width: $screen-land) {
                font-size: 14px;
                width: 20%;
            }
        }
    }

    .btn-lm-export {
        font-size: 16px;
        width: auto;
        padding: 8px 20px;
        min-width: 145px;
        border: 1px solid transparent;
        background-color: $white;
        color: $black;
        border: 1px solid $black;

        @media (max-width: $screen-lg) {
            min-width: 140px;
        }

        @media (max-width: $screen-md) {
            font-size: 14px;
        }

        @media (max-width: $screen-land) {
            font-size: 14px;
            width: 20%;
        }
    }

    .cart-header {
        padding: 7px 0;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);

        h1 {
            font-size: 20px;
            font-weight: $heavy-weight;
            letter-spacing: 1.3px;
            text-transform: $upper-text;
            color: $black;

            @media (max-width: $screen-md) {
                font-size: 15px;
            }

            @media (max-width: $screen-sm) {
                font-size: 11px;
            }

            small {
                text-transform: lowercase;
                margin-left: 5px;
                color: $red;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .cart-summary-el {
            text-align: left;

            @media (max-width: $screen-land) {
                padding-right: 0px;
            }

            p {
                margin: 0;
                font-size: 15px;

                &.el-title {
                    text-transform: $upper-text;
                    font-size: 14px;

                    @media (max-width: $screen-md) {
                        font-size: 9px;
                        line-height: 20px;
                    }
                }

                &.el-content {
                    font-weight: $heavy-weight;
                    color: $black;
                    font-size: 20px;

                    @media (max-width: $screen-md) {
                        font-size: 11px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .cart-small-screen {
        @media (max-width: $screen-lg) {
            padding: 0;
        }
    }

    .cart-items-table {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 50px;

        thead {
            border-bottom: 2px solid $gray-lighten-1;

            th {
                min-width: 15px;
                font-weight: $light-weight;
                font-size: 14px;
                text-transform: $upper-text;
                padding: 5px 2px;

                @media (max-width: $screen-md) {
                    font-size: 12px;
                    padding: 3px 2px;
                }

                &.empty {
                    width: 15px;
                }

                &.units-sizes-header {
                    width: 332px;
                    padding: 5px 0px;
                }

                &.width-head {
                    width: 15%;
                    padding: 5px 7px;

                    @media (max-width: $screen-land) {
                        width: 10%;
                    }

                    @media (max-width: $screen-md) {
                        width: 20%;
                    }
                }

                &.items-box {
                    width: 22%;

                    @media (max-width: $screen-md) {
                        width: 30%;
                    }
                }

                &.price-box {
                    padding: 5px 0;
                }

                .filter-dropdown {

                    &.open {
                        button {
                            background: transparent;
                            box-shadow: none;
                            border: 1px solid $gray-lighten-1;
                            border-bottom-color: transparent;
                            letter-spacing: 0.05em;
                        }
                    }

                    button {
                        min-width: 115px;
                        border-radius: 0;
                        border: 1px solid $gray-lighten-1;
                        padding: 5px 10px;
                        text-align: left;
                        font-size: 15px;
                        letter-spacing: 0.05em;

                        @media (max-width: $screen-md) {
                            min-width: 80px;
                            font-size: 12px;
                        }

                        &:focus,
                        &:active,
                        &:hover {
                            background: transparent;
                            box-shadow: none;
                        }

                        span {
                            position: absolute;
                            right: 9px;
                            top: 5px;
                            font-size: 16px;
                        }
                    }

                    .dropdown-menu {
                        margin: 0;
                        border-radius: 0;
                        border-top: 0;
                        min-width: 115px;
                        padding: 0px 5px;
                    }

                    li {
                        a {
                            padding: 3px 5px;
                            text-transform: none;
                            font-size: 15px;
                            letter-spacing: 0.05em;

                            @media (max-width: $screen-md) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

        tbody {
            tr.cart-item {
                border-bottom: 1px solid $gray-lighten-1;
                position: relative;

                &.inactive {
                    td {
                        position: relative;

                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 2;
                            background: $white;
                            opacity: 0.7;
                            visibility: visible;
                        }
                    }

                    &:hover {
                        .overlay {
                            visibility: hidden;
                            opacity: 0;
                            transition: visibility 0s 0.4s, opacity 0.4s linear;
                        }
                    }
                }

                &.open {
                    td {
                        vertical-align: top;

                        &.items {
                            .more-info {
                                display: block;
                            }
                        }

                        &.prices {
                            .more-info {
                                display: block;
                            }
                        }

                        &.units-sizes {

                            .gradient {
                                display: none;
                            }

                            .more-units-sizes {
                                display: block;
                            }
                        }

                        &.actions {
                            .more-actions {
                                display: block;
                            }
                        }
                    }
                }

                td {
                    padding: 5px 0px;
                    vertical-align: top;

                    p {
                        margin: 0;
                    }

                    .fa-trash-o {
                        color: #e0e0e0;
                        cursor: pointer;
                        color: $gray-lighten-1;
                        font-size: 14px;

                        &:hover,
                        :focus,
                        :active {
                            color: $red;
                        }
                    }

                    .name {
                        font-weight: $heavy-weight;
                        color: $black;
                        font-size: 18px;
                        cursor: pointer;

                        @media (max-width: $screen-land) {
                            font-size: 15px;
                        }

                        @media (max-width: $screen-md) {
                            font-size: 14px;
                        }

                        @media (max-width: $screen-sm) {
                            font-size: 12px;
                        }
                    }

                    .brand {
                        font-size: 18px;

                        @media (max-width: $screen-land) {
                            font-size: 15px;
                        }

                        @media (max-width: $screen-md) {
                            font-size: 14px;
                        }

                        @media (max-width: $screen-sm) {
                            font-size: 12px;
                        }
                    }

                    &.items {

                        @media (max-width: $screen-md) {
                            width: 25%;
                        }

                        .more-info {
                            display: none;

                            .details-info {
                                font-size: 14px;

                                @media (max-width: $screen-md) {
                                    font-size: 12px;
                                }

                                @media (max-width: $screen-sm) {
                                    font-size: 10px;
                                }

                                .details-info-label {
                                    text-transform: $upper-text;
                                    color: $black;
                                    padding-right: 5px;
                                    font-weight: $heavy-weight;
                                }
                            }
                        }
                    }

                    &.prices {

                        @media (max-width: $screen-md) {
                            width: 20%;
                        }

                        .more-info {
                            display: none;

                            .details-info {
                                font-size: 14px;

                                @media (max-width: $screen-md) {
                                    font-size: 12px;
                                }

                                @media (max-width: $screen-sm) {
                                    font-size: 10px;
                                }

                                .details-info-label {
                                    text-transform: $upper-text;
                                    ;
                                    color: $black;
                                    padding-right: 5px;
                                    font-weight: $heavy-weight;
                                }
                            }
                        }
                    }

                    .unit-price {
                        font-weight: $heavy-weight;
                        color: $black;
                        font-size: 16px;

                        @media (max-width: $screen-md) {
                            font-size: 13px;
                        }

                        @media (max-width: $screen-sm) {
                            font-size: 11px;
                        }

                        span {
                            font-weight: normal;
                            font-size: 14px;
                            color: $gray-lighten-2;
                            padding-left: 5px;
                        }
                    }

                    .discount {
                        font-size: 16px;

                        @media (max-width: $screen-land) {
                            font-size: 14px;
                        }

                        @media (max-width: $screen-md) {
                            font-size: 13px;
                        }

                        @media (max-width: $screen-sm) {
                            font-size: 11px;
                        }


                        .discount-percentage {
                            font-weight: $heavy-weight;
                            color: $black;
                        }

                        span {
                            font-weight: normal;
                            font-size: 14px;
                            color: $gray-lighten-2;
                            padding-left: 5px;
                        }
                    }

                    .price {
                        font-weight: $heavy-weight;
                        color: $black;
                        font-size: 20px;
                        padding-left: 6px;

                        @media (max-width: $screen-md) {
                            font-size: 13px;
                        }

                        @media (max-width: $screen-sm) {
                            font-size: 11px;
                        }
                    }

                    &.item-image {
                        width: 90px;
                        text-align: center;
                        padding: 5px 0;

                        img {
                            width: 100%;
                            max-width: 40px;
                        }

                        .more-details {
                            cursor: pointer;
                            font-size: 14px;



                            i {
                                margin-right: 2px;
                            }
                        }
                    }

                    &.actions {
                        vertical-align: top;

                        @media (max-width: $screen-md) {
                            width: 12%;
                        }

                        p {
                            line-height: 26px;

                            & + p {
                                margin-top: 5px;
                            }
                        }

                        .more-actions {
                            display: none;
                        }

                        i {
                            color: $gray-lighten-1;
                            cursor: pointer;
                            display: inline-block;
                            line-height: 1;
                            font-size: 16px;
                            margin-left: 2px;

                            & + i {
                            }

                            &.lm-close {
                                &.active {
                                    color: $light-red;
                                }
                            }

                            &.lm-active {
                                &.active {
                                    color: $light-green;
                                }
                            }
                        }

                        & .reserved-wrapper {
                            position: relative;
                            display: inline-block;
                            cursor: pointer;

                            & > i {
                                &.reserved-green {
                                    color: #428112;
                                }

                                &.reserved-orange {
                                    color: #fc7700;
                                }

                                &.reserved-black {
                                    color: #000;
                                }
                            }

                            & > .reserved-details {
                                position: absolute;
                                z-index: 9999;
                                bottom: 95%;
                                left: 50%;
                                transform: translateX(-50%);
                                min-width: 150px;

                                & > .top {
                                    background: $dark-gray-2;
                                    color: $white;
                                    text-align: center;
                                    font-size: 12px;
                                    line-height: 14px;
                                    display: block;
                                    padding: 5px;

                                    & > .text {
                                        display: block;
                                    }
                                }

                                & > .bottom {
                                    display: block;
                                    line-height: 26px;
                                    height: 5px;

                                    & > .reserved-arrow {
                                        width: 0;
                                        height: 0;
                                        border-left: 5px solid transparent;
                                        border-right: 5px solid transparent;
                                        border-top: 5px solid $dark-gray-2;
                                    }
                                }
                            }

                            & > .relock-details {
                                width: 220px;
                                background: #fff;
                                border: 1px solid #aaa;
                                position: absolute;
                                padding: 10px 20px;
                                z-index: 9999;
                                right: calc(100% + 6px);
                                top: -30px;
                                font-size: 16px;
                                line-height: 24px;
                                height: 75px;
                                color: $black;

                                &.error {
                                    color: $red-6;
                                }

                                &.success {
                                    color: $green;
                                }
                                /* this CS forms the triangles */
                                &:after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    left: 100%;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                }

                                &:before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    left: 100%;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                }
                                /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
                                &:after {
                                    top: 50%;
                                    border-color: transparent transparent transparent $white;
                                    border-width: 4px;
                                }
                                /* this border color controlls the outside, thin border */
                                &:before {
                                    top: calc(50% - 1px);
                                    border-color: transparent transparent transparent $gray-lighten-3;
                                    border-width: 5px;
                                }

                                & > .fa-times {
                                    font-size: 12px;
                                    color: $gray-lighten-3;
                                    position: absolute;
                                    top: 5px;
                                    right: 5px;
                                }
                            }
                        }
                    }

                    &.units-sizes {
                        vertical-align: top;
                        position: relative;
                        font-size: 14px;
                        min-width: 350px;

                        @media (max-width: $screen-land) {
                            min-width: 280px;
                        }

                        @media (max-width: $screen-md) {
                            font-size: 12px;
                            min-width: 260px;
                        }

                        .qty-sizes {
                            cursor: pointer;

                            .qty-sizes-menu {
                                width: 100%;
                                max-width: 332px;
                                z-index: 1;
                                padding: 0 15px;

                                @media (max-width: $screen-md) {
                                    width: 280px;
                                }
                            }

                            & + .qty-sizes {
                                margin-top: 5px;
                            }
                        }

                        .units-size-info {
                            margin: 0;
                            border: 1px solid $black;
                            padding: 0 10px;

                            @media (max-width: $screen-md) {
                                padding: 0 5px;
                            }

                            .bold {
                                font-weight: $heavy-weight;
                            }

                            .unit-count {
                                text-transform: $upper-text;
                                //padding-left: 15px;
                                span {
                                    color: $black;
                                }
                            }

                            .units-price {
                                font-weight: bold;
                                color: $black;
                            }

                            .total-price {
                                color: $black;
                                float: right;
                            }

                            .col-md-3 {
                                padding: 2px 0;
                                line-height: 15px;
                            }
                        }

                        .more-units-sizes {
                            display: none;
                            margin-top: 5px;
                        }

                        .gradient {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 2;
                            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                        }
                    }
                }
            }
        }
    }
}
