﻿.create-password-page {
    font-family: "neuzeit-grotesk",sans-serif;
    font-size: 16px;

    .password-container {
        margin-bottom: 262px;

        @media (max-width: $screen-xs) {
            margin-bottom: 150px;
        }

        .title-page {
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.05em;
            color: $black;
            margin-top: 30px;
            text-transform: $upper-text;
        }

        .text {
            @extend.title-page;
            text-transform: none;
            margin-top: 20px;

            font: {
                size: 20px;
                weight: $lighter;
            }
        }

        .form-group {
            min-width: 100%;

            .floating {
                letter-spacing: 0.075em;
                left: 5px;
                top: 3px;
                position: absolute;
                color: $gray-2;

                font: {
                    size: 13px;
                    weight: $lighter;
                }
            }

            .input-text {
                color: $black;
                padding: 10px 35px;
                line-height: 24px;

                font: {
                    weight: $lighter;
                    size: 18px;
                }

                &:focus {
                    border-color: $black;
                    outline: none;
                    box-shadow: unset;
                }

                &::-webkit-input-placeholder {
                    color: $gray-1;
                }
            }

            &.show-error {

                .error-text {
                    border-color: $red-error;

                    &:focus {
                        outline: none;
                        box-shadow: unset;
                    }

                    &:required,
                    :invalid {
                        box-shadow: none;
                    }
                }

                .error-messages {
                    position: relative;
                    top: 10px;
                    left: 15px;
                    padding: 5px 0;

                    .message {
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0.08em;
                        text-align: left;
                        color: $red-error;

                        &.valid-message {
                            color: $green-3;
                            font-weight: $lighter;
                        }

                        .error-icon {
                            font-size: 15px;
                            padding-right: 10px;
                        }
                    }
                }

                .pwd-strength-messages {
                    margin: 5px auto;
                    padding: 5px 0;

                    .message {
                        line-height: 24px;
                        padding-left: 20px;
                        text-align: left;
                        font-size: 18px;
                        letter-spacing: 0.08em;
                        font-weight: 100;

                        .error-icon {
                            margin-right: 10px;
                            font-size: 15px;

                            .lm-check {
                                color: $green-3;
                            }

                            .lm-uncheck {
                                color: $red-error;
                            }
                        }

                        .valid {
                            color: $green-3;
                        }

                        .invalid {
                            color: $red-error;
                        }
                    }
                }
            }

            &.terms {
                margin: 10px 0 25px 0;

                .terms-font {
                    line-height: 24px;
                    letter-spacing: 0.05em;
                    color: $black;
                    margin-bottom: 0;

                    font: {
                        size: 18px;
                        weight: $lighter;
                    }

                    .underline {
                        text-decoration: underline;
                    }
                }
            }

            input[type=checkbox] + {
                label {
                    span {
                        margin: 0 13px 0 0px;
                    }
                }
            }

            input[type=password] {
                -webkit-text-security: disc;
                text-security: disc;
            }

            .btn-lm-single {
                min-width: 100%;
                margin-top: 5px;
                padding: 10px 0px;

                font: {
                    weight: $lighter;
                    size: 18px;
                }

                @media (max-width: $screen-xs) {
                    font-size: 15px;
                }
            }
        }
    }
}

.footer-m {
    @media (max-width: $screen-sm) {
        padding: 0 15px;
    }
}

// When will integrate the page, pls uncomment "margin-top: 15px;" from footer-top class.

.footer-top {
    /*margin-top: 15px;*/
    .center-footer {
        @media (max-width: $screen-xs) {
            text-align: center !important;
        }

        .toHide {
            text-decoration: none !important;
            cursor: text !important;
            font-weight: bold;
        }
    }

    .new-navigation {
        @media (max-width: $screen-xs) {
            text-align: center;
        }

        .page {
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.075em;
            color: $black;
            text-transform: $capital-text;

            @media (max-width: $screen-xs) {
                font-size: 12px;
                text-align: center;
            }

            &:after {
                content: "|";
                padding: 0 5px;
                display: inline-block;
            }

            &:last-child:after {
                content: "";
                padding: 0 5px;
                display: inline-block;
            }

            &:hover {
                color: $black;
                cursor: pointer;
                text-decoration: underline;
            }
        }

        @media (max-width: $screen-xs) {
            text-align: left;
        }
    }

    .signature {
        line-height: 32px;
        letter-spacing: 0.075em;

        font: {
            size: 16px;
            weight: $lighter;
        }
    }
}
