﻿
.top-header {

    @media (max-width: $screen-xs) {
        padding-bottom: 0;
    }

    .padding-sm {

        @media (max-width: $screen-md) {
            padding-left: 0;
        }

        @media (max-width: $screen-sm) {
            padding: 0;
        }
    }

    .box-control {
        line-height: 18px;

        .padding-username {
            padding-left: 15px;

            @media (max-width: $screen-lg) {
                padding-left: 10px;
            }

            @media (max-width: $screen-md) {
                padding-left: 0;
                margin-bottom: 0;
            }
        }

        ul {

            .username {

                .btn-changes {
                    //vertical-align: initial;
                    .dropdown-menu {
                        min-width: 120px;
                        border-radius: 0;
                        border-color: $gray-lighten-1;
                        padding: 10px 0;
                        margin-top: 0;

                        li {
                            a {
                                padding: 0 10px;
                                font-size: 14px;
                                line-height: 21px;
                                padding-right: 30px;

                                i {
                                    font-size: 12px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    button {
                        font-size: 12px;
                        text-transform: $upper-text;
                        font-weight: $heavy-weight;
                        letter-spacing: 1px;
                        padding: 0;
                        border: 1px solid transparent;
                        line-height: 18px;
                        border-radius: 0;
                        background: none;
                        box-shadow: none;
                        border-top: 3px solid transparent;
                        padding: 0px 10px;
                        line-height: 20px;

                        @media (max-width: $screen-sm) {
                            font-size: 11px;
                        }

                        &:hover,
                        :active,
                        :focus {
                            background: none;
                        }
                    }

                    &.open {
                        button {
                            box-shadow: none;
                            border: 1px solid $gray-lighten-1;
                            border-top: 3px solid $black;
                            border-bottom: 0;
                            z-index: 2;
                            background: $white;
                            line-height: 20px;
                        }

                        .dropdown-menu {
                            z-index: 1;
                            top: 95%;
                            padding-bottom: 15px;
                        }
                    }
                }
            }

            .type {
                font-size: 12px;
                text-transform: $upper-text;
                letter-spacing: 1px;
                font-style: italic;
                padding-left: 10px;

                @media (max-width: $screen-sm) {
                    font-size: 10px;
                }
            }

            .language {
                text-transform: $upper-text;
                padding-left: 10px;
                position: relative;

                div.current {
                    display: inline-block;
                    background: $black;
                    color: $white;
                    font-size: 12px;
                    text-transform: $upper-text;
                    font-weight: $heavy-weight;
                    letter-spacing: 1px;
                    padding: 0 5px;
                    cursor: pointer;
                    border: 1px solid $black;
                    min-width: 40px;
                    text-align: center;

                    @media (max-width: $screen-md) {
                        font-size: 9px;
                        padding: 0px;
                        min-width: 35px;
                        line-height: 15px;
                    }
                }

                .dropdown-menu {
                    padding: 0;
                    margin: 0;
                    min-width: 20px;
                    left: 10px;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border: 1px solid $gray-lighten-1;

                    li {
                        a {
                            padding: 0 5px;
                            color: $black;
                            font-size: 12px;
                            text-transform: $upper-text;
                            font-weight: $heavy-weight;
                            letter-spacing: 1px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .linesheet {
            font-size: 12px;
            text-transform: $upper-text;
            letter-spacing: 1px;
            text-align: center;
            border-top: 1px solid transparent;
            line-height: 27px;

            @media (max-width: $screen-md) {
                font-size: 11px;
                line-height: 20px;
            }

            @media (max-width: $screen-sm) {
                font-size: 10px;
            }
        }

        .mini-cart {
            border-top: 1px solid transparent;
            padding-top: 5px;

            @media (max-width: $screen-lg) {
                padding: 0;
            }

            @media (max-width: $screen-sm) {
                padding: 0 15px;
            }

            .cart-link {
                font-size: 12px;
                text-transform: $upper-text;
                letter-spacing: 1px;
                text-align: right;
                text-decoration: none;

                @media (max-width: $screen-sm) {
                    font-size: 10px;
                }

                span {
                    font-weight: $heavy-weight;

                    @media (max-width: $screen-md) {
                        line-height: 20px;
                    }
                }

                .items-cart {
                    padding-left: 5px;

                    @media (max-width: $screen-md) {
                        float: right;
                    }
                }
            }
        }

        &.no-padding-r {
            @media (max-width: $screen-sm) {
                padding-right: 15px;
            }
        }
    }
}

.banner-content-home {

    &.light {
        .banner {
            .banner-text {
                h3, span {
                    color: $white;
                }
            }
        }
    }


    &.dark {
        .banner {
            .banner-text {
                h3, span {
                    color: $black;
                }
            }
        }
    }

    .banner {

        .home-image {
            width: 100%;

            img {
                @media (max-width: $screen-xs) {
                    max-width: 100%;
                }
            }
        }

        .banner-text {
            text-transform: $upper-text;
            text-align: center;
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;

            @media (max-width: $screen-xs) {
                top: 10%;
            }

            h3 {
                font-size: 60px;
                font-weight: $heavy-weight;
                color: $white;
                letter-spacing: 0.05em;
                margin-bottom: 15px;
                margin-top: 0;

                @media (max-width: $screen-lg) {
                    font-size: 55px;
                }

                @media (max-width: $screen-md) {
                    font-size: 35px;
                }

                @media (max-width: $screen-sm) {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                @media (max-width: $screen-xs) {
                    font-size: 20px;
                    margin-bottom: 0px;
                }
            }

            span {
                display: block;
                font-size: 24px;
                letter-spacing: 1px;
                margin-bottom: 30px;
                color: $white;

                @media (max-width: $screen-lg) {
                    font-size: 22px;
                }

                @media (max-width: $screen-md) {
                    font-size: 14px;
                    margin-bottom: 25px;
                }

                @media (max-width: $screen-sm) {
                    font-size: 10px;
                    margin-bottom: 15px;
                }

                @media (max-width: $screen-xs) {
                    margin-bottom: 0px;
                }
            }

            a {
                font-size: 24px;
                width: auto;
                cursor: pointer;

                @media (max-width: $screen-md) {
                    font-size: 16px;
                }

                @media (max-width: $screen-sm) {
                    font-size: 13px;
                }

                &:hover {
                    color: $white;
                }

                &.btn-lm-shop {
                    padding: 8px 15px;
                    border-radius: 3px;

                    @media (max-width: $screen-md) {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

.home-content {

    .subtitle-home {
        @media (max-width: $screen-sm) {
            margin-top: 20px;
        }

        .first-subtitle {
            @media (max-width: $screen-xs) {
                font-size: 15px;
                margin-bottom: 10px;
            }
        }

        .second-subtitle {
            @media (max-width: $screen-xs) {
                font-size: 12px;
                margin-bottom: 0px;
            }
        }
    }

    .mobile-margin {
        @media (max-width: $screen-xs) {
            margin-top: 5px;
        }
    }

    .xs-padding {
        @media (max-width: $screen-xs) {
            padding-left: 15px;
        }
    }

    .product-category {
        min-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15px;
        display: block;
        position: relative;

        @media (max-width: $screen-md) {
            background-position: 50% 50%;
        }

        &.light {
            .text {
                color: $white;
            }
        }

        &.dark {
            .text {
                color: $black;
            }
        }

        .text {
            position: relative;
            top: 50%;
            color: $white;
            font-size: 45px;
            font-weight: $heavy-weight;
            letter-spacing: 0.2em;
            line-height: 1.2em;
            text-transform: $upper-text;
            text-align: center;
            margin-top: 0;
            width: 86%;
            margin: auto;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            text-decoration: none;
            z-index: 4;

            @media (max-width: $screen-md) {
                font-size: 25px;
            }

            @media (max-width: $screen-sm) {
                font-size: 20px;
            }
        }

        &.product-banner {
            background-image: url("../images/home/burberry.jpg");
            height: 795px;

            @media (max-width: $screen-sm) {
                min-height: 300px;
                height: 300px;
            }
        }

        &.product-one {
            background-image: url("../images/home/lv.jpg");
            height: 390px;

            @media (max-width: $screen-sm) {
                min-height: 200px;
                height: 200px;
            }
        }

        &.product-three {
            background-image: url("../images/home/spring-trends.jpg");
            height: 390px;

            &:hover {
                .effect {
                    color: $black;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.3);
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            opacity: 1;
            filter: alpha(opacity=100);
        }

        &:hover:before {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    .bestsellers-section {

        @media(max-width: $screen-md) {
            padding: 0 0;
        }

        .best-seller-wrapper {
            height: 300px;
            display: block;
            overflow: hidden;
            position: relative;

            & > img {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .item-caption {
            position: relative;
            top: 10px;
            margin-top: 35px;
            letter-spacing: 1px;
            text-align: center;

            .item-brand {
                font-size: 14px;
                color: $black;
                display: block;

                @media (max-width: $screen-md) {
                    font-size: 12px;
                }

                @media (max-width: $screen-sm) {
                    font-size: 11px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            .item-name {
                font-size: 16px;
                color: $middle-gray;

                @media (max-width: $screen-md) {
                    font-size: 11px;
                }

                @media (max-width: $screen-xs) {
                    font-size: 8px;
                }
            }

            .item-price {
                font-size: 15px;
                color: $middle-gray;

                @media (max-width: $screen-md) {
                    font-size: 12px;
                }

                @media (max-width: $screen-sm) {
                    font-size: 10px;
                }

                span {
                    font-size: 18px;
                    font-weight: $heavy-weight;
                    font-style: italic;
                    color: $black;

                    @media (max-width: $screen-md) {
                        font-size: 12px;
                    }

                    @media (max-width: $screen-sm) {
                        // font-size: 13px;
                    }
                }
            }
        }
    }

    a {
        &:hover, 
        :focus, 
        :active {
            text-decoration: none;
        }
    }
}

.search-wrapper {
    position: relative;

    .search-input-wrapper {
        position: absolute;
        top: -5px;
        right: 65px;

        input {
            width: 150px;
            padding: 10px 5px;
        }
    }
}
