﻿
#header-luxury {

    .head {
        // width: 100%;
        .menu-wapper {
            padding-right: 0px;
            padding-left: 0px;

            .top-header {
                display: table;
                padding-bottom: 17px;
                padding-top: 20px;
                width: 100%;

                .logo {
                    padding: 9px 0px;
                    text-align: center;
                    max-width: 100%;
                }
            }
        }
    }
}

.login-container {
    margin-top: 20px;

    .login-home {
        float: none;
        margin: 20px auto;
        text-align: center;
        padding: 0px 3px;

        @media (max-width: $screen-xs) {
            margin: 0;
            padding-right: 15px;
            padding-left: 15px;
        }


        .title {
            color: $black;
            font-size: 17px;
            font-weight: $heavy-weight;
            letter-spacing: 0.1em;
            margin-bottom: 35px;
            text-transform: $upper-text;
        }

        a {
            margin-top: 15px;
            margin-bottom: 25px;
        }
    }
}

#top-footer {
    text-align: center;

    .footer-m {
        margin-top: 60px;

          @media (max-width: $screen-sm) {
            margin-top: 20px;
        }

        @media (max-width: $screen-xs) {
            padding: 10px 10px;
        }

        .border-l {
            display: block;
            margin: 1em 0em;
            border-style: inset;
            border-width: 1px;
        }
    }

    .img-sm {

        @media (max-width: $screen-md) {
            padding: 0;
        }
    }

    .footer-top {
        color: $black;

        .contact-info {
            margin-top: 30px;
            text-align: center;

            .contact-title {
                color: $black;
                cursor: pointer;
                font-size: 14px;
                letter-spacing: 0.08em;
                margin-bottom: 30px;
                text-transform: $upper-text;

                @media (max-width: $screen-sm) {
                    font-size: 12px;
                }

                 @media (max-width: $screen-xs) {
                    font-size: 10px;
                }
            }
        }


        .contact-info:last-child {
            margin-bottom: 0px;
        }
    }

    .copyright {
        font-size: 14px;
        letter-spacing: 1px;
        color: $black;
        margin-bottom: 10px;
        padding-left: 20px;

        @media (max-width: $screen-md) {
            font-size: 12px;
            padding: 0 5px;
        }
    }
}
