﻿.manage-orders-container {

    .line-up {
        padding: 5px 0px;
        margin: 0px;
    }

    .order-text {
        font-size: 18px;
        text-transform: $capital-text;
        font-weight: $heavy-weight;
        margin: 0;
        letter-spacing: 0.05em;
        line-height: 40px;

        span {
            font-weight: $light-weight;
            padding-left: 5px;
            font-size: 15px;
        }
    }

    .dropdown-filters {

        .btn-lm-filter {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 205px;
            padding: 10px 20px 10px 15px;

            .angle-down {
                font-size: 20px;
                position: absolute;
                top: 10px;
                right: 5px;
            }

            &:focus {
                border-bottom: 1px solid $white;

                .angle-down {
                    color: $black;
                }
            }
        }

        .menu-right {
            right: 0;
            left: auto;
            margin: 0;
            width: 205px;
            padding: 0;
            border: 1px solid $black;
            border-top: none;
            border-radius: 0;
            font-size: 16px;
            box-shadow: none;
            z-index: 1;
            height: 250px;
            overflow-x: hidden;

            li {
                a {
                    padding: 10px 20px 10px 15px;
                    cursor: pointer;
                    text-transform: $capital-text;
                    color: $black;
                    letter-spacing: 0.05em;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 12em;
                    text-overflow: ellipsis;

                    &:hover {
                        background-color: $black;
                        color: $white;
                    }
                }
            }
        }
    }

    .order-table {

        table {

            thead {

                tr {

                    th {
                        padding: 10px 15px;

                        @media (max-width: $screen-land) {
                            font-size: 11px;
                            line-height: 15px;
                            padding: 5px 3px;
                        }


                        &.landscape-status {
                            @media (max-width: $screen-land) {
                                width: 20px;
                            }
                        }
                    }
                }
            }

            tbody {

                tr {

                    &.first-table-row {

                        td {
                            border: none;
                        }
                    }

                    td {
                        padding: 10px;

                        @media (max-width: $screen-land) {
                            font-size: 11px;
                            line-height: 15px;
                            padding: 0px 5px;
                        }

                        @media (max-width: $screen-sm) {
                            padding: 0 0;
                            line-height: 10px;
                            font-size: 9px;
                        }

                        a {
                            .order-number {
                                color: $medium-blue-1;
                                text-decoration: underline;
                            }
                        }

                        .creation-date {

                            .input-date {
                                padding: 0px;
                                color: $black;
                                letter-spacing: 0.05em;
                                line-height: 24px;
                            }

                            .bar {
                                color: $light-gray;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
}
