﻿.manage-title {
    font-size: 17px;
    text-transform: $upper-text;
    letter-spacing: 0.1em;
    font-weight: $heavy-weight;
    color: $black;
    margin: 20px 0;
    line-height: 36px;

    @media (max-width: $screen-md) {
        font-size: 14px;
    }
}


.paragraph {
    font-size: 20px;
    font-weight: $heavy-weight;
    letter-spacing: 0.05em;
    color: $black;
    text-transform: $capital-text;
    margin: 0;
    line-height: 36px;

    @media (max-width: $screen-md) {
        font-size: 14px;
    }
}

.dropdown-categories {

    p {
        text-transform: $capital-text;
        margin: 0;
        line-height: 36px;
        padding-right: 15px;
        letter-spacing: 0.05em;
        display: inline-block;

        @media (max-width: $screen-more-lg) {
            padding-right: 5px;
        }

        @media (max-width: $screen-lg) {
            padding-right: 0px;
        }

        @media (max-width: $screen-md) {
            font-size: 12px;
        }
    }

    .categories-btn {
        width: 165px;
        background-color: $white;
        color: $black;
        border: 1px solid $light-gray;
        line-height: 17px;
        text-align: left;
        padding: 9px 10px;
        text-transform: $capital-text;

        @media (max-width: $screen-more-lg) {
            width: 140px;
        }

        @media (max-width: $screen-lg) {
            width: 120px;
        }

        @media (max-width: $screen-md) {
            font-size: 12px;
        }

        @media (max-width: $screen-sm) {
            width: 100px;
        }

        &.categories-btn:focus {
            outline: none;
        }
    }

    .input-search {
        padding: 10px 10px;
        text-transform: $capital-text;
        text-align: left;
        font-style: italic;
        line-height: 18px;
        width: 246px;

        @media (max-width: $screen-more-lg) {
            width: 225px;
            line-height: 20px;
        }

        @media (max-width: $screen-lg) {
            width: 170px;
            line-height: 20px;
        }

        @media (max-width: $screen-md) {
            font-size: 12px;
        }

        @media (max-width: $screen-sm) {
            width: 150px;
            line-height: 16px;
        }
    }

    .search-input-icon {
        position: absolute;
        bottom: 10px;
        float: right;
        right: 10px;

        @media (max-width: $screen-md) {
            font-size: 12px;
            bottom: 5px;
        }
    }
}

.offers-number {

    .number-offer {
        font-size: 44px;
        font-weight: $heavy-weight;
        color: $black;
        line-height: 36px;


        @media (max-width: $screen-md) {
            font-size: 30px;
        }
    }

    p {
        margin: 0;
        line-height: 35px;
        padding-left: 5px;
        letter-spacing: 0.05em;
        display: inline-block;
        vertical-align: top;

        @media (max-width: $screen-md) {
            font-size: 12px;
        }
    }
}

.status {
    float: right;

    p {
        padding-right: 20px;
        text-transform: $capital-text;
        letter-spacing: 0.08em;
        line-height: 36px;
        display: inline-block;

        @media (max-width: $screen-more-lg) {
            padding-right: 15px;
        }

        @media (max-width: $screen-md) {
            font-size: 12px;
            padding-right: 10px;
        }

        span {
            width: 11px;
            height: 11px;
            border-radius: 11px;
            display: inline-block;
            margin-right: 7px;
            background-color: $gray-lighten-1;
            //vertical-align: middle;
            @media (max-width: $screen-md) {
                width: 8px;
                height: 8px;
                margin-right: 3px;
            }

            &.in-progress {
                background-color: $orange-1;
            }

            &.live {
                background-color: $green-1;
            }

            &.pending-approval {
                background-color: $blue-2;
            }

            &.expired {
                background-color: $red-3;
            }

            &.rejected {
                background-color: $red;
            }
        }

        .bullet-green {
            background-color: $green-1;
        }

        .bullet-orange {
            background-color: $orange-1;
        }

        .bullet-blue {
            background-color: $blue-2;
        }

        .bullet-red {
            background-color: $red-3;
        }

        &:first-child {

            @media (max-width: $screen-md) {
                margin-left: 0px;
            }
        }

        &:last-child {
            padding-right: 0px;
        }
    }
}

.table-manage-offers {

    table {

        thead {

            tr {
                th {
                    padding: 8px 5px;

                    @media (max-width: $screen-md) {
                        padding: 2px 0px !important;
                    }
                }

                .width-th {
                    width: 9%;
                }
            }
        }

        tbody {

            .first-row {

                td {
                    border-top: 0;
                }
            }

            tr {

                td {
                    padding: 30px 7px !important;

                    @media (max-width: $screen-more-lg) {
                        padding: 30px 0px !important;
                    }

                    @media (max-width: $screen-md) {
                        padding: 2px 0px !important;
                        font-size: 11px;
                    }

                    .offer-id {
                        color: $white;
                        padding: 2px 6px;
                        border-radius: 2px;
                        line-height: 24px;
                        letter-spacing: 0.05em;
                        min-width: 50px;
                        display: inline-block;


                        &.inprogress {
                            background: $orange-1;
                        }

                        &.senttopublish {
                            background: $blue-2;
                        }

                        &.published {
                            background: $green-1;
                        }

                        &.expired {
                            background: $red-3;
                        }

                        &.rejected {
                            background-color: $red;
                        }

                        @media (max-width: $screen-md) {
                            padding: 0px 3px;
                        }
                    }

                    .fields-group {
                        width: 100%;


                        .input-field {
                            border: none;
                            box-shadow: none;
                            background-color: $white;

                            &.field-dimension {
                                width: 18px;
                                padding: 0 0px;
                            }

                            &.input-dimension {
                                width: 35px;
                            }
                        }

                        .slash-bar {
                            line-height: 33px;
                            padding: 0 0px;
                            color: $light-gray;
                        }

                        input[type="text"]::-webkit-input-placeholder {
                            color: $black;

                            @media (max-width: $screen-md) {
                                font-size: 12px;
                            }
                        }
                    }

                    .end-date {

                        input[type="text"]::-webkit-input-placeholder {
                            color: $medium-blue-1;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
