﻿#wrapper {
    margin-left: 260px;

    @media (max-width: $screen-md) {
        margin-left: 150px;
    }

    @media (max-width: $screen-land) {
        margin-left: 210px;
    }

    .details-container {
        margin-top: 52px;
        margin-bottom: 80px;

        .review-title {
            font-size: 17px;
            text-transform: $upper-text;
            text-align: center;
            line-height: 36px;
            letter-spacing: 0.1em;
            font-weight: $heavy-weight;
            color: $dark-gray;
            margin-bottom: 25px;
        }

        .border-line-up {
            border-top: 1px solid $very-light-gray;
            outline-offset: 15px;
            padding-top: 5px;
        }

        .border-line-down {
            border-bottom: 1px solid $very-light-gray;
            outline-offset: 15px;
            margin-top: 5px;
        }

        .button-sm {
            @media (max-width: $screen-md) {
                padding-left: 0;
            }

            .btn-lm-upload {
                letter-spacing: 0.08em;
                width: 200px;

                @media (max-width: $screen-lg) {
                    width: 150px;
                    padding: 5px 0;
                    font-size: 11px;
                }

                @media (max-width: $screen-md) {
                    width: 90px;
                }

                @media (max-width: $screen-sm) {
                    width: 80px;
                    font-size: 9px;
                }

                .arrow {
                    padding-left: 10px;
                    left: 10px;
                }
            }
        }

        .information-page {

            .nav-products {
                line-height: 36px;
                letter-spacing: 0.05em;
                text-transform: $capital-text;
                font-size: 16px;
                margin: 10px 0;

                a.active {
                    font-weight: $heavy-weight;
                }

                .message-error {
                    color: $red-2;
                }

                a:after {
                    color: $light-gray;
                }

                a:last-child:after {
                    display: none;
                }

                span {
                    font-size: 14px;
                }
            }
        }



        .slash {
            padding: 0 3px;
            color: $light-gray;

            @media (max-width: $screen-md) {
                padding: 0 1px;
            }

            @media (max-width: $screen-sm) {
                padding: 0 0px;
            }
        }
        // table
        .table-products {

            table {
                thead {
                    tr {
                        th {
                            @media (max-width: $screen-sm) {
                                padding: 2px !important;
                            }
                        }

                        .detail-th {
                            @media (max-width: $screen-sm) {
                                text-align: center;
                            }
                        }
                    }
                }

                tbody {

                    tr {

                        td {
                            @media (max-width: $screen-sm) {
                                padding: 0px;
                            }
                        }

                        .details-table {
                            @media (max-width: $screen-sm) {
                                font-size: 10px;
                            }

                            .details-text {
                                .name-product {
                                    @media (max-width: $screen-sm) {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.include-exclude {
    font-size: 16px;
    vertical-align: middle;
    color: $gray-lighten-6;
    top: 1px;
    position: relative;
    cursor: pointer;

    @media (max-width: $screen-md) {
        font-size: 14px;
    }
}

.include-icon {
    color: $green;
    outline: none;
    box-shadow: unset;
}


.exclude-icon {
    color: $red-1;
    outline: none;
    box-shadow: unset;
}
