﻿.title-page {
    text-transform: $upper-text;
    text-align: center;
    font-weight: $heavy-weight;
    font-size: 17px;
    letter-spacing: 0.1em;
    line-height: 36px;
    color: $black;

    @media (max-width: $screen-md) {
        font-size: 15px;
    }
}

.summary-box {
    padding: 10px 15px;
    text-transform: $capital-text;
    font-weight: $heavy-weight;
    color: $black;
    letter-spacing: 0.05em;
    font-size: 13px;
    line-height: 30px;

    p {
        margin: 0;

        span {
            color: $dark-gray-1;
            text-transform: $upper-text;
            padding-left: 5px;
            font-weight: $light-weight;
        }
    }
}

.terms-conditions {
    font-weight: $light-weight;
    letter-spacing: 0.05em;
    line-height: 36px;

    a {
        text-decoration: underline;
    }
}

.publish-btn {
    width: 220px;
    margin-left: 55px;
    letter-spacing: 0.08em !important;

    @media (max-width: $screen-md) {
        width: 180px !important;
        font-size: 12px;
    }
}

.box-line {
    border: 1px solid $very-light-gray;
}
