﻿.summary-container {
    color: $black;

    .step {
        font-size: 20px;
        font-weight: $heavy-weight;
        line-height: 36px;
        letter-spacing: 0.1em;
        color: $black;
        text-transform: $upper-text;
        margin-bottom: 15px;

        &.step-red {
            color: $red-6;
        }
    }

    .order-part {
        text-transform: $capital-text;
        letter-spacing: 0.05em;
        font-size: 18px;
        line-height: 30px;
        padding-right: 0;

        p {
            margin: 0;

            span {
                float: right;
            }
        }
    }

    .payment-details {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
    }

    .payment-dropdown {

        .payment-method-list {
            margin: 0;
            width: 240px;
            padding: 0;
            border: 1px solid $black !important;
            border-top: none;
            border-radius: 0;
            font-size: 18px;
            box-shadow: none;

            li {
                padding: 7px 15px;
                cursor: pointer;

                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }

    .address {
        font-size: 18px;
        font-weight: $heavy-weight;
        letter-spacing: 0.05em;
        line-height: 26px;
        text-transform: $capital-text;
    }

    .address-details {
        font-size: 16px;
        font-weight: $heavy-weight;
        text-transform: $capital-text;
        letter-spacing: 0.05em;

        p {
            margin-bottom: 0px;

            span {
                font-weight: $light-weight;
            }
        }

        .person-name {
            font-size: 18px;
            text-transform: $upper-text;
            font-weight: $light-weight;
            margin-bottom: 10px;
        }
    }

    .order-page-btn {
        min-width: 240px;
        font-size: 18px;
        font-weight: $light-weight;
        text-transform: $capital-text;
        padding: 7px 15px;
        background-color: $white;
        color: $black;
        border: 1px solid $black !important;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        border-radius: unset;
    }


    .arrow-btn {
        float: right;
        padding: 0px 5px;
        font-size: 25px;
    }

    .submit-part {

        .conditions {
            text-transform: $capital-text;
            text-decoration: underline;
        }
    }

    .view-products {
        padding: 0px 0px;
        border-top-color: black;
        border-top-width: 3px;

        .open {

            .product-items {
                padding: 0px 0 0 0px;
                font-size: 16px;
                text-transform: $capital-text;

                .navigation-product {
                    font-size: 14px;
                    margin: 0;
                }

                .info {
                    font-weight: $light-weight;
                    margin: 0;
                    line-height: 20px;
                }

                .product-sum {
                    font-size: 14px;
                    font-weight: $heavy-weight;
                    margin: 0;
                    line-height: 20px;
                    width: 10em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    span {
                        font-weight: $light-weight;
                    }

                    @media (max-width: $screen-land) {
                        font-size: 12px;
                    }
                }

                @media (max-width: $screen-land) {
                    font-size: 12px;
                }

                @media (max-width: $screen-sm) {
                    font-size: 12px;
                    margin-top: 5px;
                }
            }

            .total-units-cost {
                padding: 10px 0 0 0px;
            }

            .units-sizes-shipment {

                .unit-shipment {
                    text-transform: uppercase;
                    padding-left: 5px;

                    @media (max-width: $screen-md) {
                        padding-left: 0px;
                        font-size: 9px;
                    }

                    .column-size {
                        padding: 0px;
                        display: inline-block;
                        font-size: 13px;
                        text-align: center;
                        margin-right: 2px;

                        @media (max-width: $screen-md) {
                            font-size: 10px;
                        }

                        span {
                            padding-right: 3px;
                        }
                    }
                }
            }
        }
    }
}


.right-bar {
    border-right: 1px solid $very-light-gray;
    margin-right: 15px;
}

// Scrollbar

.scrollbar-bar {
    float: right;
    height: 400px;
    overflow-y: scroll;
    background-color: $white;

    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $white;
    }

    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $white;
    }

    &::-webkit-scrollbar {
        width: 7px;
        background-color: $very-light-gray;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $very-light-gray;
    }

    @media (max-width: $screen-md) {
        float: none;
    }
}
