﻿.order-details-page {
    .paragraph {
        text-transform: $upper-text;
        margin-top: 25px;
        margin-bottom: 10px;

        span {
            font-weight: $light-weight;
            padding-left: 10px;
        }
    }

    .order-details {
        background-color: $gray-lighten-5;
        margin: 0;

        .order-details-row {
            padding: 10px 15px;

            .order-status {
                font-size: 10px;
                margin-left: 5px;
                text-transform: uppercase;

                @media (max-width: $screen-sm) {
                    margin-left: 0;
                }
            }

            .order-id {
                @media (max-width: $screen-sm) {
                    font-size: 14px;
                }

                span {

                    @media (max-width: $screen-sm) {
                        font-size: 12px;
                        display: inline-block;
                    }
                }
            }

            .date {

                .creation-date {
                    line-height: 35px;

                    label {
                        @media (max-width: $screen-sm) {
                            font-size: 14px;
                        }
                    }

                    .input-date {
                        @media (max-width: $screen-sm) {
                            font-size: 14px;
                        }
                    }

                    .input-date-year {
                        @media (max-width: $screen-sm) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .small-screen {
            span {
                @media (max-width: $screen-sm) {
                    display: inline-block;
                    padding-left: 0px;
                }
            }
        }
    }

    .sm-margin {
        @media (max-width: $screen-sm) {
            margin-top: 0px;
        }
    }

    .confirm-products {
        margin-bottom: 0;

        span {
            font-weight: 400;
            text-transform: capitalize;
            letter-spacing: 0.05em;
            line-height: 18px;
            color: $black;
            padding-right: 5px;
        }

        input[type="checkbox"] + {
            label {
                margin-bottom: 0;
                padding-right: 10px;

                span {
                    margin: 0;
                }
            }
        }
    }

    .row-position {
        margin: 15px 0 5px 5px;

        @media (max-width: $screen-sm) {
            margin: 15px 0 0px 0px;
        }

        .middle-checkbox {

            input[type="checkbox"] + {
                label {
                    span {
                        position: relative;
                        top: 23px;
                        margin: 0px 0px 0px 22px;
                    }
                }
            }
        }
    }

    .confirm-btn {
        font-size: 15px;

        span {
            margin-left: 25px;
            font-size: 23px;
            vertical-align: sub;
        }

        &.inverse {
            background: $gray-lighten-5;
            color: $black;
        }
    }

    .qty-sizes {

        .qty-sizes-menu {
            padding: 25px 25px;
            margin: 0;

            .dropdown-subtitle {
                margin: 0;

                span {
                    padding-left: 5px;
                }
            }

            .detail-order {
                .detail-qty {
                    left: 0;
                }
            }

            .items {
                margin: 0;

                .size {
                    //font-weight: $heavy-weight;
                    line-height: 20px;
                    color: $black;
                }

                .input-size {
                    width: 45%;
                    height: 25px;
                    box-shadow: none;
                    margin: 0 auto;
                    padding: 0;
                    color: $black;
                    font-weight: $heavy-weight;
                    border-radius: 2px;

                    &:visited,
                    &:active {
                        border: none;
                    }

                    &.select-input {
                        color: $medium-blue;
                        border-color: $medium-blue;
                    }
                }

                .changed {
                    color: $medium-blue;
                }

                .qty-details {
                    //font-weight: $heavy-weight;
                    color: $light-gray;
                    line-height: 20px;

                    span {
                        padding-left: 5px;
                        color: $black;
                    }
                }

                .btn-lm-add {
                    min-width: 100%;
                }
            }
        }
    }

    .unit-shipment {

        .unit-count {
            text-transform: $upper-text;

            span {
                padding-right: 5px;

                @media (max-width: $screen-sm) {
                    padding-right: 0px;
                }
            }
        }

        .units-price {
            font-weight: $heavy-weight;
        }

        .units-changed {
            text-decoration: line-through;
        }
    }
}
