﻿.pickup-info-page {
    color: $black;

    .paragraph {
        text-transform: $upper-text;
        margin: 30px 0;
    }

    .info-order {
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        color: $black;

        span {
            font-weight: $light-weight;

            @media (max-width: $screen-md) {
                display: block;
                padding-left: 0px;
            }
        }

        @media (max-width: $screen-md) {
            font-size: 15px;
        }
    }

    .order-id {
        line-height: 20px;

        @media (max-width: $screen-land) {
            font-size: 14px;
        }

        @media (max-width: $screen-md) {
            font-size: 13px;
        }
    }

    .xs-order-view {
        @media (max-width: $screen-md) {
            white-space: nowrap;
            width: 9em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @media (max-width: $screen-sm) {
            line-height: 20px;
        }
    }

    .date {
        line-height: 20px;
        //padding: 0 15px;
        .creation-date {
            line-height: 20px;

            label {
                font-size: 18px;

                @media (max-width: $screen-md) {
                    font-size: 14px;
                    display: block;
                }
            }

            .input-date {

                @media (max-width: $screen-md) {
                    font-size: 15px;
                }
            }

            .bar {
                color: $black;
            }
        }
    }

    .info-text {
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 24px;
        margin: 30px 0px;

        @media (max-width: $screen-sm) {
            font-size: 14px;
        }
    }

    .private {
        font-size: 16px;
        color: $medium-blue-1;
        text-decoration: underline;
        cursor: pointer;
        line-height: 45px;
    }

    .xs-private {
        @media (max-width: $screen-sm) {
            //line-height: 26px;
        }
    }

    .form-date-group {

        @media (max-width: $screen-md) {
            padding-right: 15px;
        }

        .data-group {
            display: inline;
            margin-right: 0;

            .label-text {
                font-size: 18px;
                letter-spacing: 0.05em;
                line-height: 24px;
                font-weight: $light-weight;

                @media (max-width: $screen-lg) {
                    font-size: 15px;
                }
            }

            .border-line {
                border-bottom: 1px solid $gray-lighten-8;
                max-width: 250px;

                @media (max-width: $screen-sm) {
                    max-width: 170px;
                }
            }

            .date-form {
                border: none;
                font-size: 18px;
                border-radius: 0;
                font-style: unset;
                color: $black;
                width: 35px;
                display: inline;

                @media (max-width: $screen-md) {
                    font-size: 16px;
                }

                @media (max-width: $screen-sm) {
                    font-size: 14px;
                }

                &:hover,
                focus {
                    border-color: $white;
                }
            }

            input:hover::-webkit-input-placeholder {
                color: $black;
            }

            input:hover::-moz-placeholder {
                color: $black;
            }

            input {
                &:focus {
                    border: nonet;
                    outline: none;
                    box-shadow: unset;
                    color: $black;
                }
            }

            .year-input {
                width: 50px;
            }

            .slash {
                color: $black;
                padding: 0;
            }

            .dropdown-changes {
                top: -4px;
                left: -2px;
                z-index: 2;
            }
            // Class only for IE
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                .ie-only {
                    top: 95%;
                }
            }
            // Class only for mozzila
            @-moz-document url-prefix() {
                .mozz-only {
                    top: 9px;
                }
            }
        }

        .form-group {

            .label-text {

                @media (max-width: $screen-lg) {
                    font-size: 15px;
                    line-height: 24px;
                }
            }

            .box {
                border: 1px solid $gray-lighten-8;
                max-width: 180px;
                text-align: center;
                border-radius: 0;
                font-size: 18px;

                @media (max-width: $screen-land) {
                    //max-width: 160px;
                }

                @media (max-width: $screen-md) {
                    max-width: 140px;
                    font-size: 16px;
                }

                @media (max-width: $screen-sm) {
                    font-size: 14px;
                }

                &.small-box {
                    max-width: 100px;
                    padding: 10px 10px;
                    color: $black;

                    @media (max-width: $screen-lg) {
                        max-width: 85px;
                    }

                    @media (max-width: $screen-land) {
                        max-width: 80px;
                    }

                    @media (max-width: $screen-md) {
                        max-width: 75px;
                        font-size: 16px;
                    }

                    @media (max-width: $screen-sm) {
                        font-size: 14px;
                        max-width: 65px;
                    }

                    &.extra-small-box {
                        width: 45px;
                        display: inline-block;
                    }
                }

                .color-value {
                    color: $gray-lighten-8;
                }

                .date-form {
                    width: 45px;

                    @media (max-width: $screen-land) {
                        width: 40px;
                    }

                    @media (max-width: $screen-md) {
                        width: 35px;
                    }
                }
            }

            input:focus {
                border-color: $gray-lighten-8;
            }
        }

        .form-control {
            -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
            box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

            @media (max-width: $screen-sm) {
                display: initial;
            }
        }
    }

    .button-align {
        margin-top: 48px;

        @media (max-width: $screen-sm) {
            margin-top: 46px;
        }

        .btn-lm-green {

            .plus-symbol {
                font-size: 30px;
                font-weight: normal;
                position: relative;
                top: 4px;
                padding-right: 10px;
            }

            @media (max-width: $screen-md) {
                font-size: 16px;
            }

            @media (max-width: $screen-sm) {
                font-size: 14px;
                line-height: 19px;
            }
        }

        @media (min-width: $screen-more-lg) {
            text-align: left;
        }
    }

    .margin-info {
        margin: 30px 0;
    }

    .register {

        .description-box {
            height: 90px;
            text-align: left;
            font-size: 16px;
            font-style: italic;
            padding: 0px 15px;
            border-color: $gray-lighten-6;
            border-radius: unset;
            line-height: 24px;

            &.description-box:focus {
                outline: none;
            }
        }

        ::-webkit-input-placeholder {
            color: $gray-lighten-6;
        }
    }

    .border-t-b {
        border-top: 1px solid $very-light-gray;
        border-bottom: 1px solid $very-light-gray;
        padding: 30px 0;
    }

    .border-bottom {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .column-table {
        margin-bottom: 25px;

        .row-head {
            text-transform: capitalize;
            font-size: 18px;
            background-color: $gray-lighten-5;
            padding: 15px 0px;
            border-bottom: 1px solid $very-light-gray;

            &.second-row {
                padding: 5px 0;
                border-bottom: none;
            }
        }

        .row-body {
            font-size: 18px;
            padding: 15px 0;
            border-bottom: 1px solid $very-light-gray;
        }
    }

    .tablet-view {
        @media (max-width: $screen-lg) {
            padding: 0;
        }

        @media (max-width: $screen-sm) {
            // padding: 0 15px;
        }
    }
    // For IE & Mozzila
    input[type="text"] {
        -moz-box-sizing: border-box;
        font-size: 16px;
        height: 100%;
        color: $black;
    }

    .error-messages {
        .message {
            position: relative;
            left: 10px;
            bottom: 5px;
            line-height: 48px;

            &.phone-message {
                left: -5px;
            }

            &.message-required {
                position: relative;
                left: -5px;
                bottom: 0px;
                line-height: 20px;

                &.position {
                    left: 10px;
                }
            }

            &.area-message {
                line-height: 24px;
                bottom: 75px;
            }
        }
    }

    .pickhour {

        &.pick-left {
            left: -55px;

            @media (max-width: $screen-land) {
                left: auto;
            }
        }

        @media (max-width: $screen-land) {
            left: auto;
            right: 0;
        }

        .datetimepicker {
            table {
                thead {
                    display: none;
                }
            }
        }
    }

    .land-view {
        @media (max-width: $screen-land) {
            padding: 0 15px;
        }
    }
}
