﻿.main-content-vertical {
    .shop-top {
        .view-mode {
            .reorder-icon {
                padding: 0px 5px;
                font-size: 23px;
                vertical-align: middle;
            }
        }
    }

    .border-up {
        border-top: 1px solid $very-light-gray;
    }

    .product-details-row {
        color: $black;
        padding-top: 10px;

        .about-product {

            .brand {
                font-size: 16px;
                font-weight: $heavy-weight;
                text-transform: $upper-text;
                letter-spacing: 0.05em;
            }

            .information {
                font-size: 16px;
                line-height: 33px;
                letter-spacing: 0.05em;
            }

            .detail {
                text-transform: $upper-text;
                font-weight: $heavy-weight;

                span {
                    text-transform: $capital-text;
                    font-weight: $light-weight;
                    padding-left: 5px;
                }
            }
        }

        .price-part {
            padding-right: 10px;

            .best-price {
                font-size: 16px;
                letter-spacing: 0.05em;
                line-height: 35px;

                span {
                    font-size: 24px;
                    padding-left: 10px;
                    letter-spacing: 0.05em;
                    font-style: italic;
                    font-weight: $heavy-weight;
                }
            }

            .red-btn {
                min-width: 200px;
                width: 200px;
                font-size: 16px;
                background-color: $red-4;
                margin: 5px 0;

                span {
                    font-size: 25px;
                    position: relative;
                    left: 20px;
                    top: 2px;
                }
            }

            .empty-btn {
                background-color: $white;
                color: $black;
                padding: 0;
                line-height: 35px;
                font-weight: $heavy-weight;
                text-align: right;
                letter-spacing: 0.05em;
                margin-bottom: 5px;

                span {
                    font-size: 23px;
                    position: relative;
                    top: 2px;
                    padding-left: 5px;
                }
            }
        }

        p {
            margin: 0;
        }
    }
}
