﻿.description-container {

    @media (max-width: $screen-md) {
        padding-left: 0px;
    }

    .subtitle-home {

        .align-subtitle {
            text-align: left;
        }
    }
}

.sidebar {

    @media (max-width: $screen-md) {
        padding-left: 0px;
    }

    @media (max-width: $screen-sm) {
        padding-right: 0px;
    }

    .sidebar-title {
        font-size: 15px;
        text-transform: $upper-text;
        color: $black;
        font-weight: $heavy-weight;
        margin: 0;
        line-height: 36px;
        letter-spacing: 0.05em;

        @media (max-width: $screen-sm) {
            font-size: 12px;
        }
    }
    // Radio and check boxes for sidebar
    .radio-box {
        color: $black;
        font-size: 14px;
        margin: 0;
        line-height: 24px;


        input[type="radio"] + {
            label {
                span {
                    width: 11px;
                    height: 11px;
                    margin-right: 10px;
                    border-color: black;

                    @media (max-width: $screen-sm) {
                        width: 9px;
                        height: 9px;
                        margin-right: 6px;
                    }
                }
            }
        }

        .radio-label {
            padding-left: 0;

            @media (max-width: $screen-sm) {
                font-size: 12px;
            }
        }

        span {
            margin-left: 0px;
        }
    }

    .check-box {
        margin: 0;
        font-size: 15px;

        @media (max-width: $screen-sm) {
            font-size: 12px;
        }

        input[type="checkbox"] + {
            label {
                span {
                    width: 11px;
                    height: 11px;
                    margin-right: 10px;
                    border-color: black;

                    @media (max-width: $screen-sm) {
                        width: 9px;
                        height: 9px;
                        margin-right: 6px;
                    }
                }
            }
        }

        label {
            color: $middle-gray;

            @media(max-width: $screen-md) {
                font-size: 12px;
                padding-left: 0;
            }

            @media(max-width: $screen-sm) {
                padding-left: 10px;
            }

            &:hover {
                color: $black;
            }
        }

        span {
            margin-left: 0px;
        }
    }
    // Unorderes List - sidebar
    .unordered-list {
        padding-left: 0;

        li {
            font-weight: $heavy-weight;
            color: $black;
            margin-top: 5px;


            @media (max-width: $screen-sm) {
                font-size: 13px;
            }

            ul {
                padding-left: 20px;
                margin-bottom: 5px;

                @media (max-width: $screen-md) {
                    padding-left: 10px;
                }

                li {
                    font-size: 15px;
                    font-weight: $light-weight;
                    margin-top: 0;

                    @media (max-width: $screen-md) {
                        font-size: 14px;
                    }

                    @media (max-width: $screen-sm) {
                        font-size: 13px;
                    }

                    ul {
                        padding-left: 0;
                    }
                }
            }
        }
    }


    .caret-down {
        margin-right: 10px;

        @media (max-width: $screen-md) {
            margin-right: 5px;
        }
    }

    .caret-right {
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid $black;
        display: inline-block;
        height: 0;
        opacity: 1;
        width: 0;
        margin-right: 10px;

        @media (max-width: $screen-sm) {
            margin-right: 5px;
        }
    }

    .colors {
        display: inline-block;
        width: 20px;
        height: 20px;

        @media (max-width: $screen-md) {
            width: 12px;
            height: 12px;
        }
    }

    .beige-color {
        background-color: $pale-yellow;
    }

    .black-color {
        background-color: $black;
    }

    .blue-color {
        background-color: $blue;
    }

    .brown-color {
        background-color: $brown;
    }

    .green-color {
        background-color: $green;
    }

    .gray-color {
        background-color: $gray;
    }

    .orange-color {
        background-color: $orange;
    }

    .pink-color {
        background-color: $pink;
    }

    .purple-color {
        background-color: $purple;
    }

    .red-color {
        background-color: $red;
    }

    .yellow-color {
        background-color: $yellow;
    }

    .white-color {
        border: 1px solid $light-gray;
    }
}

.main-content {
    margin-top: 5px;

    .shop-top {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;

        .navigation-shop {
            display: inline-block;

            @media (max-width: $screen-md) {
                font-size: 12px;
            }

            span {
                margin-right: 5px;
            }

            a {
                &:hover {
                    color: $moderat-orange;
                    -webkit-transition: all 0.3s ease 0s;
                    -o-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                }

                &:after {
                    content: "|";
                    padding: 0 5px;
                    display: inline-block;
                    font-weight: $light-weight;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                &.active {
                    font-weight: $heavy-weight;
                }
            }
        }
    }

    .navigation-pages {

        @media (max-width: $screen-md) {
            padding: 0 0px;
        }

        .nav-pages {
            margin: 0;
            float: right;

            @media (max-width: $screen-md) {
                font-size: 12px;
            }

            .pages {
                border: none;
                color: $black;
                font-weight: $medium-weight;
                padding: 0px 5px;
                line-height: 20px;
                margin: 0 1px;
                border-radius: 0;

                &:hover, .active {
                    background-color: $black;
                    color: $white;
                    border-radius: unset;
                }
            }
        }
    }

    .products-list {

        @media (max-width: $screen-sm) {
            padding: 0 15px;
        }

        .no-results {
            padding: 20px;

            p {
                color: $black;
                font-size: 20px;
            }
        }

        .product {

            & > a {
                height: 300px;
                display: block;
                overflow: hidden;
                position: relative;

                & > img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                & > .sold-out-overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: rgba(230, 230, 230, 0.5);
                }

                & > .sold-out-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%);
                    color: #000;
                    background: rgba(255, 255, 255, 0.6);
                    border: 1px solid #000;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 16px;
                }
            }
        }

        .product-caption {
            text-align: center;
            margin: 10px 0;

            .product-brand {
                font-size: 14px;
                color: $black;
                font-weight: $heavy-weight;
                display: block;
                letter-spacing: 0.05em;

                @media (max-width: $screen-md) {
                    font-size: 12px;
                }
            }

            .product-name {
                font-size: 16px;
                color: $middle-gray;
                letter-spacing: 0.05em;
                line-height: 18px;
                //height: 36px;
                display: inline-block;
                white-space: nowrap;
                width: 12em;
                overflow: hidden;
                text-overflow: ellipsis;

                @media (max-width: $screen-md) {
                    font-size: 11px;
                    line-height: 13px;
                    height: 15px;
                }
            }

            .product-price {
                font-size: 15px;
                letter-spacing: 0.05em;
                color: $middle-gray;

                @media (max-width: $screen-md) {
                    font-size: 12px;
                    line-height: 5px;
                }

                span {
                    color: $black;
                    font-size: 18px;
                    font-weight: $heavy-weight;
                    font-style: italic;

                    @media (max-width: $screen-md) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

button {
    &.take-all-btn {
        background-color: $red-4;
        color: $white;
        border: 1px solid $red-3;
        font-size: 16px;
        min-width: 190px;
    }
}

/*.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#CB2121 0%, #CB2121 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #CB2121;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #CB2121;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #CB2121;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #CB2121;
}*/
