﻿
html, body {
    height: 100%;
}

.header-publish-offer {
    background-color: $black;
    padding: 8px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    .company-info {
        color: white;
        font-weight: lighter;
        letter-spacing: 0.5px;

        .name {
            margin: 0;
            line-height: 34px;


            span {
                font-weight: $medium-weight;
                letter-spacing: 1px;
                font-size: 15px;
            }

            .logout {
                font-size: 22px;
                margin-left: 50px;
                cursor: pointer;
                position: relative;
                right: 20px;
                vertical-align: middle;
            }
        }
    }

    .power-icon {
        font-size: 25px;
        color: white;
        text-align: right;
    }
}

#wrapper {
    margin-left: 260px;
    position: relative;

    @media (max-width: $screen-md) {
        margin-left: 150px;
    }

    @media (max-width: $screen-land) {
        margin-left: 210px;
    }

    .publish-offer {
        position: fixed;
        z-index: 3;
        //height: -moz-calc(100% - (50px));
        //height: -webkit-calc(100% - (50px));
        height: 100%;
        left: 0;
        bottom: 0;

        .navigation-bar {
            width: 260px;
            height: 100%;
            margin-bottom: 0px;
            border-width: 0px 1px 0px 0px;
            border-style: solid;
            border-color: $gray-gray;
            border-radius: unset;

            @media (max-width: $screen-md) {
                width: 150px;
            }

            @media (max-width: $screen-land) {
                width: 210px;
            }

            .nav-list {
                width: 260px;
                height: 100%;
                background-color: $light-white;
                margin: 0;

                @media (max-width: $screen-md) {
                    width: 150px;
                }

                @media (max-width: $screen-land) {
                    width: 210px;
                }

                & > li {
                    float: none;
                    border-right: 1px solid $gray-gray;

                    & > a {
                        color: $black;
                        text-transform: $upper-text;
                        border-bottom: 1px solid $gray-gray;
                        font-size: 13px;
                        letter-spacing: 0.5px;
                        font-weight: $medium-weight;
                        cursor: pointer;
                        padding: 15px 15px;

                        @media (max-width: $screen-md) {
                            font-size: 10px;
                            padding: 10px 10px;
                        }

                        .icon-nav {
                            font-size: 25px;
                            padding-right: 20px;

                            @media (max-width: $screen-md) {
                                font-size: 15px;
                                padding-right: 15px;
                            }
                        }

                        .angle-icon {
                            float: right;
                            position: relative;
                            top: 5px;
                            font-size: 25px;
                            color: $gray-arrow;

                            @media (max-width: $screen-md) {
                                font-size: 15px;
                                top: 2px;
                            }
                        }

                        ul {

                            li {
                                a {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    & > a:hover {
                        background-color: initial;
                    }

                    .website {
                        padding: 5px 15px;
                        font-weight: $heavy-weight;
                    }

                    .offer-tag {
                        background-color: $white;
                    }
                }

                .logo-image {
                    padding: 11px;
                    border-bottom: 1px solid $black;
                    text-align: center;
                    background-color: $black;
                    border-right: $black;

                    @media (max-width: $screen-md) {
                        text-align: right;
                        border-bottom: none;
                        line-height: 30px;
                    }

                    @media (max-width: $screen-sm) {
                        line-height: 25px;
                    }

                    .mobile-bars {
                        font-size: 25px;
                        cursor: pointer;

                        @media (max-width: $screen-sm) {
                            font-size: 26px;
                        }
                    }
                }

                .offer {
                    color: $black;
                    text-transform: $capital-text;
                    background-color: $white;
                    border-bottom: 1px solid $gray-gray;
                    padding: 15px 55px;

                    @media (max-width: $screen-md) {
                        font-size: 11px;
                        padding: 10px 30px;
                    }
                }

                .help {
                    position: fixed;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 260px;
                    padding: 0;

                    @media (max-width: $screen-md) {
                        width: 150px;
                    }

                    @media (max-width: $screen-land) {
                        width: 210px;
                    }


                    .help-tag {
                        border-top: 1px solid $gray-gray;
                        background-color: $light-white;
                        color: $gray-lighten-4;
                        font-weight: $heavy-weight;
                        text-transform: $upper-text;
                        font-size: 13px;
                        letter-spacing: 0.5px;

                        @media (max-width: $screen-md) {
                            padding: 15px 15px;
                        }

                        .icon-nav {
                            font-size: 25px;
                            padding-right: 20px;
                            color: $gray-darker-1;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    .publish-upload {
        text-align: center;
        margin-top: 60px;

        .title {
            font-size: 17px;
            font-weight: $heavy-weight;
            color: $black;
            text-transform: $upper-text;
            letter-spacing: 0.10em;

            @media (max-width: $screen-md) {
                font-size: 14px;
            }
        }

        .step {
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            color: $dark-gray;

            @media (max-width: $screen-md) {
                font-size: 13px;
            }

            span {
                font-weight: bold;
                margin-right: 5px;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}

.file-upload-wrapper {
    margin: 50px 0;
    position: relative;

    i {

        &.upload-icon {
            font-size: 48px;
            margin-right: 15px;
            float: left;
            color: $very-light-gray;
        }

        &.remove {
            position: absolute;
            top: 16px;
            right: 16px;
            font-size: 16px;
            cursor: pointer;

            @media (max-width: $screen-md) {
                font-size: 14px;
            }
        }
    }

    .file-input {
        width: calc(100% - 60px);
        display: inline-block;
        position: relative;

        .upload-progress-bar {
            position: absolute;
            border-bottom: 1px solid $black;
            width: 0;
            -webkit-transition: width 0.2s ease-in-out;
            -moz-transition: width 0.2s ease-in-out;
            -o-transition: width 0.2s ease-in-out;
            transition: width 0.2s ease-in-out;
        }

        input {
            border: 0;
            border-bottom: 1px solid $very-light-gray;
            width: 100%;
            text-align: left;
            height: 48px;
            color: $gray-lighten-7;
            font-size: 16px;

            @media (max-width: $screen-md) {
                font-size: 14px;
            }

            &::-webkit-input-placeholder {
                color: $gray-lighten-7;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: $gray-lighten-7;
            }

            &::-moz-placeholder { /* Firefox 19+ */
                color: $gray-lighten-7;
            }

            &:-ms-input-placeholder {
                color: $gray-lighten-7;
            }
        }
    }
}

.drag-and-drop-zone {
    padding: 27px 10px;
    border: 1px dotted $light-gray;
    text-align: center;
    color: $black;
    cursor: pointer;

    &.dragover {
        background: $light-white;
    }

    p {
        font-size: 14px;
        line-height: 36px;
        text-transform: $upper-text;
        letter-spacing: 0.08em;
        color: $dark-gray;
        margin: 0;

        span {
            font-weight: $heavy-weight;
            font-size: 15px;

            @media (max-width: $screen-md) {
                font-size: 13px;
            }
        }

        @media (max-width: $screen-md) {
            font-size: 12px;
        }
    }
}

// Footer

.footer-bar {
    border-top: 1px solid $gray-gray;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: $white;
    height: 57px;

    .contact-info {
        text-align: center;


        .contact-title {
            color: $light-gray;
            cursor: pointer;
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            text-transform: $upper-text;

            @media (max-width: $screen-md) {
                font-size: 10px;
            }
        }
    }

    .contact-info:last-child {
        margin-bottom: 0px;
    }
}

.sent-for-publish {
    font-size: 18px;
    text-align: center;
}
