﻿.bs-wizard {
    margin-top: 35px;

    & > .bs-wizard-step {
        padding: 0;
        position: relative;

        & + .bs-wizard-step {
        }

        .bs-wizard-stepnum {
            color: $dark-gray;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
            left: calc(50% - 42px);
            position: relative;
            width: 80px;
            text-align: center;
        }

        & > .bs-wizard-dot {
            position: absolute;
            width: 42px;
            height: 42px;
            line-height: 42px;
            font-size: 24px;
            font-weight: $heavy-weight;
            display: block;
            background: $black;
            color: $white;
            top: 54px;
            left: calc(50% - 21px);
            border-radius: 50%;
            text-align: center;
        }

        & > .progress {
            position: relative;
            border-radius: 0px;
            height: 5px;
            box-shadow: none;
            margin: 24px 0;
            left: calc(50% - 21px);

            & > .progress-bar {
                box-shadow: none;
                background: #ededed;
            }
        }

        &.complete {
            & > .progress {
                & > .progress-bar {
                    background-color: $black;
                    width: 100%;
                }
            }
        }

        &.disabled {
            .bs-wizard-stepnum {
                color: #d1d1d1;
            }

            & > .bs-wizard-dot {
                background: #ededed;
            }

            a.bs-wizard-dot {
                pointer-events: none;
            }
        }

        &.last {
            .progress {
                width: 0px;
            }
        }
    }
}
