﻿
.supporting-upload {

    .upload-information {
        text-align: center;
        margin-top: 40px;
        letter-spacing: 0.05em;
        color: $black;

        .details-title {
            font-size: 17px;
            font-weight: $heavy-weight;
            text-transform: $upper-text;
            line-height: 36px;
            letter-spacing: 0.1em;

            @media (max-width: $screen-md) {
                font-size: 14px;
            }
        }

        .note {
            font-size: 16px;
            line-height: 24px;
            color: $dark-gray;
            margin: 0;

            @media (max-width: $screen-md) {
                font-size: 13px;
            }
        }
    }

    .continue-btn {
        width: 170px;

        @media (max-width: $screen-md) {
            width: 120px;
            padding: 5px 5px;
            font-size: 12px;
        }

        .arrow {
            left: 2px;

            @media (max-width: $screen-md) {
                left: 0px;
            }
        }
    }
}
