﻿<table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 14px; color:#fff; margin: 0 auto;">
    <tr style="text-align:center;">
        <td style="width:100%;">
            <img src="[@LOGOURL]" style="max-width: 100%;" alt="logo" />
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td valign="middle" style="font-family: FuturaPT, Arial;font-size:20px;color:#5e5e5e;padding:15px 0;">
            <p style="color: #000000;margin:0;text-align:center;">
                Hi Luxury Market Team,
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="color: #383838; text-align: center; font-size: 16px; letter-spacing: 0.025em; line-height: 24px; font-family: FuturaPT, Arial; padding: 15px 0 15px 0; background-color: #f1f1f1; border-radius: 5px;">
            <p style="font-size:13px;font-family: FuturaPT, Arial;">
                <strong>New ORDER [@PONUMBER] WAS CONFIRMED!</strong>
            </p>
            <p style="font-size:13px;font-family: FuturaPT, Arial;">
                Please see order details <a href="[@LINK]" target="_blank">here</a> and take action.<br />
            </p>
        </td>
    </tr>
</table>