﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps nopadding margin-t-10">
            <div class="page-steps">
                <a href="#" class="medium-blue-1">dashboard</a>
                <a href="#"> &#47; manage offers</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="manage-title text-center">manage offers</p>
        </div>
    </div>
    <div class="row margin-b-30">
        <div class="col-md-6 col-sm-4 col-xs-6 nopadding">
            <p class="paragraph">current offers&#58;</p>
        </div>
        <div class="col-md-6 col-sm-8 col-xs-6 nopadding">
            <div class="dropdown-categories pull-right">
                <p>showing</p>
                <div class="dropdown margin-r-10 display-ib">
                    <select class="categories-btn" name="payment" ng-change="mo.filterByStatus()" ng-options="item.id as item.name for item in mo.filters.statuses" ng-model="mo.filters.selectedStatus"></select>
                </div>
                <form class="display-ib">
                    <input type="text" placeholder="search offers" class="input-search" ng-model="mo.filters.keyword" ng-keypress="mo.filterByKeyword($event)">
                    <span class="search-input-icon"><i class="fa fa-search" aria-hidden="true" ng-click="mo.filterByKeyword($event)"></i></span>
                </form>
            </div>
        </div>
    </div>
    <div class="row margin-b-30">
        <div class="col-md-6 col-sm-6 col-xs-6 offers-number nopadding">
            <span class="number-offer">{{mo.totals.totalOffers}}</span>
            <p>Live Offers</p>
            <span class="number-offer padding-l-15">{{mo.totals.totalProducts}}</span>
            <p>Live Products</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
            <div class="status">
                <p ng-repeat="status in mo.filters.statuses" ng-if="status.id > 0"><span class="{{status.cssClass}}"></span>{{status.name}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 nopadding table-products table-manage-offers">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>offer ID</th>
                            <th class="width-th">start<br>date</th>
                            <th class="width-th">end<br>date</th>
                            <th>take all<br>offer?</th>
                            <th>total styles</th>
                            <th>ttl cost<br>sold</th>
                            <th>ttl cost<br>on offer</th>
                            <th>ttl cost<br>sell through</th>
                            <th>units<br>on offer</th>
                            <th>units<br>sold</th>
                            <th>units<br>sell through</th>
                            <th>remove<br>entire offer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="mo.isLoading">
                            <td colspan="12" class="text-center"><i class="fa fa-spinner spinning"></i></td>
                        </tr>
                        <tr endless-scroll="offer in mo.offers">
                            <td>
                                <span class="offer-id pointer {{offer.offerStatusName.toLowerCase().replace(' ', '-')}}" ng-click="mo.viewDetails(offer)" ng-bind="offer.offerNumber"></span>
                            </td>
                            <td>
                                <form class="form-inline">
                                    <div class="form-group margin-0 fields-group" ng-show="offer.uiStartDate != null">
                                        <input type="text" class="form-control input-field field-dimension" name="month" value="{{offer.uiStartDate.getMonth() + 1}}" readonly />
                                        <span class="slash-bar">&#47;</span>
                                        <input type="text" class="form-control input-field field-dimension" name="date" value="{{offer.uiStartDate.getDate()}}" readonly />
                                        <span class="slash-bar">&#47;</span>
                                        <input type="text" class="form-control input-field nopadding input-dimension" name="year" value="{{offer.uiStartDate.getFullYear()}}" readonly />
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline">
                                    <div class="form-group margin-0 fields-group end-date" ng-show="offer.uiEndDate != null">
                                        <input type="text" class="form-control input-field field-dimension" name="month" value="{{offer.uiEndDate.getMonth() + 1}}" readonly />
                                        <span class="slash-bar">&#47;</span>
                                        <input type="text" class="form-control input-field field-dimension" name="date" value="{{offer.uiEndDate.getDate()}}" readonly />
                                        <span class="slash-bar">&#47;</span>
                                        <input type="text" class="form-control input-field nopadding input-dimension" name="year" value="{{offer.uiEndDate.getFullYear()}}" readonly />
                                    </div>
                                </form>
                            </td>
                            <td>
                                <span>{{offer.takeAll ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>
                                <span ng-bind="offer.totalStyles"></span>
                            </td>
                            <td>
                                <span ng-bind="offer.totalCostSold | currency: undefined : 0"></span>
                            </td>
                            <td>
                                <span ng-bind="offer.totalCostOnOffer | currency: undefined : 0"></span>
                            </td>
                            <td>
                                <span>{{offer.totalCostSellThrough | number: undefined : 0}}%</span>
                            </td>
                            <td>
                                <span ng-bind="offer.unitsOnOffer"></span>
                            </td>
                            <td>
                                <span ng-bind="offer.unitsSold"></span>
                            </td>
                            <td>
                                <span>{{offer.unitsSellThrough | number: undefined : 0}}%</span>
                            </td>
                            <td>
                                <span class="include-exclude" ng-if="offer.canBeDeleted" ng-click="mo.deleteOffer($event, offer)"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                            </td>
                        </tr>
                        <tr ng-show="mo.isNewPageLoading">
                            <td colspan="12" class="text-center"><i class="fa fa-spinner spinning"></i></td>
                        </tr>
                        <tr ng-show="mo.offers.length === 0 && !mo.isNewPageLoading">
                            <td colspan="12" class="text-center">You have 0 offers. </td>
                        </tr>
                    </tbody>
                </table>
                <div class="border-line-up"></div>
            </div>
        </div>
    </div>
</div>