﻿<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row bs-wizard">
            <div class="col-xs-2"></div>
            <div class="col-xs-2 bs-wizard-step" ng-repeat="step in newoffer.steps" ng-class="{'last': $last, 'complete' : step.complete, 'disabled': !step.active}">
                <div class="text-center bs-wizard-stepnum" translate="{{step.name}}"></div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot" ng-bind="step.number"></a>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<ui-view></ui-view>