﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps">
            <div class="page-steps">
                <a href="#" class="medium-blue-1" ng-click="productdetails.back($event)" translate="PRODUCT_BREADCRUMB"></a>
                <a> &#47; {{productdetails.item.productName}}</a>
            </div>
            <div class="border-line-down"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-t-20 margin-b-20">
            <div class="row product-information">
                <div class="col-md-4 col-sm-5">
                    <p>{{'PRODUCT_NAME'|translate}}&#58;<span>{{productdetails.item.productName}}</span></p>
                    <p>
                        {{'PRODUCT_PRODUCT_ID'|translate}}&#58;<span class="" ng-class="{'specials pointer' : productdetails.canMap.modelnumber && productdetails.allowChanges}" ng-click="productdetails.changeModelNumber($event)" ng-hide="productdetails.item.editModelNumber">{{productdetails.item.modelNumber}}</span>&nbsp;
                        <select class="offer-edit-item" ng-change="productdetails.updateItem($event, 'modelnumber')" ng-show="productdetails.item.editModelNumber" ng-options="mn as mn for mn in productdetails.modelnumbers track by mn" ng-model="productdetails.item.modelnumber"></select>
                        <i ng-show="productdetails.item.uierrors[productdetails.OFFER_COLUMN_NAMES.ModelNumber]" class="text-red fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </p>
                    <p>
                        {{'PRODUCT_BRAND'|translate}}&#58;
                        <span class="" ng-class="{'specials pointer' : productdetails.canMap.brand && productdetails.allowChanges}" ng-hide="productdetails.item.editBrand" ng-click="productdetails.changeBrand($event)">{{productdetails.item.brandName}}</span>&nbsp;
                        <select class="offer-edit-item" ng-change="productdetails.updateItem($event, 'brand')" ng-show="productdetails.item.editBrand" ng-options="b as b.name for b in productdetails.brands track by b.id" ng-model="productdetails.item.brand"></select>
                        <i ng-show="productdetails.item.uierrors[productdetails.OFFER_COLUMN_NAMES.Brand]" class="text-red fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </p>
                    <p>{{'PRODUCT_CATEGORY'|translate}}&#58;<span>{{productdetails.item.categoryName}}</span></p>
                    <p>
                        {{'PRODUCT_COLOR'|translate}}&#58;
                        <span class="" ng-hide="productdetails.item.editColor" ng-class="{'specials pointer' : productdetails.canMap.color && productdetails.allowChanges}" ng-click="productdetails.changeColor($event)">{{productdetails.item.colorCode}}</span>&nbsp;
                        <select class="offer-edit-item" ng-change="productdetails.updateItem($event, 'color')" ng-show="productdetails.item.editColor" ng-options="c as c.code for c in productdetails.colors track by c.id" ng-model="productdetails.item.color"></select>
                        <i ng-show="productdetails.item.uierrors[productdetails.OFFER_COLUMN_NAMES.Color]" class="text-red fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </p>
                    <p>
                        {{'PRODUCT_MATERIAL'|translate}}&#58;
                        <span class="" ng-hide="productdetails.item.editMaterial" ng-class="{'specials pointer' : productdetails.canMap.material && productdetails.allowChanges}" ng-click="productdetails.changeMaterial($event)">{{productdetails.item.materialCode}}</span>&nbsp;
                        <select class="offer-edit-item" ng-change="productdetails.updateItem($event, 'material')" ng-show="productdetails.item.editMaterial" ng-options="m as m.code for m in productdetails.materials track by m.id" ng-model="productdetails.item.material"></select>
                        <i ng-show="productdetails.item.uierrors[productdetails.OFFER_COLUMN_NAMES.Material]" class="text-red fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </p>
                    <p>{{'PRODUCT_DIMENSIONS'|translate}}&#58;<span ng-bind="productdetails.item.dimensions"></span></p>
                </div>
                <div class="col-md-4 col-sm-4 sm-padding">
                    <p>{{'PRODUCT_ORIGIN'|translate}}&#58;<span ng-bind="productdetails.item.originName"></span></p>
                    <p>{{'PRODUCT_SEASON'|translate}}&#58;<span ng-bind="productdetails.item.seasonCode"></span></p>
                    <p>{{'PRODUCT_RETAILS_PRICE'|translate}}&#58;<span>{{productdetails.item.productRetailPrice | currency : undefined: 0}}</span></p>
                    <div class="offer-cost">
                        {{'PRODUCT_OFFER_PRICE'|translate}}&#58;<span class="pointer" ng-class="{'specials' : productdetails.allowChanges}" ng-click="productdetails.changePrice($event)" ng-hide="productdetails.item.showPriceInput">{{productdetails.item.offerCostValue | currency : productdetails.item.priceCurrency.simbol : 2}}</span>
                        <form class="relative" name="productdetails.productPriceForm" ng-show="productdetails.item.showPriceInput">
                            <input type="text" required ng-pattern="/^\d+((\.|\,)\d+)?$/" class="offer-inline-price" name="offerCostNewValue" ng-model="productdetails.item.offerCostNewValue" ng-blur="productdetails.updatePrice($event)" ng-keyup="$event.keyCode == 13 && productdetails.updatePrice($event)" />
                            <div class="error-messages" ng-messages="productdetails.productPriceForm.$error" ng-show="productdetails.productPriceForm.offerCostNewValue.$dirty" role="alert">
                                <div ng-message="required" class="message">Price required</div>
                                <div ng-message="pattern" class="message">Price invalid</div>
                            </div>
                        </form>
                        <i class="fa fa-spinner spinning" ng-show="productdetails.item.updateInProgress"></i>
                        &nbsp;<i ng-show="productdetails.item.uierrors[productdetails.OFFER_COLUMN_NAMES.OfferCost] || productdetails.item.uierrors[productdetails.OFFER_COLUMN_NAMES.Discount]" class="text-red fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </div>
                    <p>{{'PRODUCT_DISCOUNT'|translate}}l&#58;<span>{{productdetails.item.customerDiscount}}%</span></p>
                    <p>{{'PRODUCT_TOTAL_COST'|translate}}&#58;<span>{{productdetails.item.offerTotalPrice | currency : productdetails.item.priceCurrency.simbol : 2}}</span></p>
                </div>
                <div class="col-md-4 col-sm-3 text-right btn-btn">
                    <button class="btn-lm margin-b-10 raport-btn" ng-if="productdetails.allowChanges" ng-click="productdetails.reportError($event)" translate="PRODUCT_ERROR_BUTTON"></button><br />
                    <button class="btn-lm offer-details-btn" ng-click="productdetails.back($event)"><i class="fa fa-angle-left arrow" aria-hidden="true"></i>&nbsp;{{'PRODUCT_OFFER_DETAILS_BUTTON' | translate}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-9 product-information">
                    <p>{{'PRODUCT_DESCRIPTION' | translate}}&#58;<span class="description-product margin-t-10" ng-bind-html="productdetails.item.descriptions[0].description"></span></p>
                </div>
                <div class="col-md-4 col-sm-3"></div>
            </div>
            <div class="row margin-t-20">
                <div class="col-md-4 col-sm-3 size-image-table">
                    <p>{{'PRODUCT_SIZES_TITLE' |translate }}&#58;</p>
                    <table class="table table-size">
                        <tbody>
                            <tr ng-repeat="size in productdetails.item.sizes">
                                <td class="size-font size-column" ng-bind="size.sizeName"></td>
                                <td class="unit-column text-right pointer">
                                    <span class="pointer" ng-hide="size.showSizeInput" ng-class="{'no-underline' : !productdetails.allowChanges}" ng-click="productdetails.changeSize($event, size)">{{size.quantityValue}}</span>
                                    <form class="relative" name="productdetails.productSizeForm{{size.sizeId}}" ng-show="size.showSizeInput">
                                        <input type="text" required ng-pattern="/^\d+((\.|\,)\d+)?$/" ng-maxlength="8" class="quantity-inline" name="quantityNewValue" ng-model="size.quantityNewValue" ng-blur="productdetails.updateSize($event, size)" ng-keyup="$event.keyCode == 13 && productdetails.updateSize($event, size)" />
                                        <div class="error-messages" ng-messages="productdetails['productSizeForm' + size.sizeId].$error" ng-show="productdetails['productSizeForm' + size.sizeId].quantityNewValue.$dirty" role="alert">
                                            <div ng-message="required" class="message">Quantity required</div>
                                            <div ng-message="pattern" class="message">Quantity invalid</div>
                                            <div ng-message="maxlength" class="message">Quantity invalid</div>
                                        </div>
                                    </form>
                                    <i class="fa fa-spinner spinning" ng-show="size.updateInProgress"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="size-font" translate="PRODUCT_SIZES_TOTAL">total</td>
                                <td class="text-right" ng-bind="productdetails.item.actualTotalUnits"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8 col-sm-9 nopadding size-image-table">
                    <p>{{'PRODUCT_IMAGES_TITLE' |translate }}&#58;</p>
                    <div class="row image-pictures">
                        <div class="col-md-2 col-sm-2" ng-repeat="image in productdetails.item.images">
                            <img ng-src="{{image.link}}" />
                        </div>
                        <div class="col-md-3 col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
