﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps">
            <div class="page-steps">
                <a href="#" class="medium-blue-1" ng-click="back($event)" translate="STEP_THREE_BREADCRUMB"></a>
                <a> &#47; {{'STEP_THREE_TITLE' | translate}}</a>
            </div>
            <div class="border-line-down"></div>
        </div>
    </div>
    <div class="row supporting-upload">
        <div class="col-md-12 col-sm-12 upload-information">
            <p class="details-title" translate="STEP_THREE_TITLE"></p>
            <p class="note">{{'STEP_THREE_INFO' | translate}} <br /> {{'STEP_THREE_NOTE' | translate}}</p>
        </div>
        <div class="row margin-b-40">
            <div class="col-md-1 col-sm-1 col-xs-2"></div>
            <div class="col-md-10 col-sm-10 col-xs-8">
                <div class="file-upload-wrapper" ng-hide="uploadFiles.length > 0">
                    <i class="fa fa-file-excel-o upload-icon" aria-hidden="true"></i>
                    <div class="file-input">
                        <input type="text" readonly placeholder="{{'STEP_THREE_UPLOAD_TEXT' | translate}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    </div>
                </div>
                <div class="file-upload-wrapper" ng-repeat="file in uploadFiles">
                    <i class="fa fa-file-excel-o upload-icon" aria-hidden="true"></i>
                    <div class="file-input">
                        <input type="text" ng-model="file.name" readonly placeholder="{{'STEP_THREE_UPLOAD_TEXT' | translate}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                        <div class="upload-progress-bar" style="width: {{file.progress}}%;"></div>
                    </div>
                    <i class="remove fa" ng-class="{'fa-spinner spinning' : file.isLoading, 'fa-times' : !file.isLoading}" ng-click="cancelUpload($event, file)" ng-show="currentFileName !== null"></i>
                </div>
                <div class="drag-and-drop-zone" ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false"
                     accept=".pdf" ngf-max-files="10" ngf-max-size="'20MB'">
                    <p translate="STEP_THREE_UPLOAD_NOTE"></p>
                    <p>{{'STEP_THREE_UPLOAD_NOTE_2' | translate}} <span translate="STEP_THREE_BROWSE_BUTTON"></span></p>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <input type="checkbox" id="terms" ng-model="uploadLater" />
                    <label for="terms" class="terms-conditions"><span></span>I am in posession of supporting documents and will upload the files later</label>
                </div>
            </div>
        </div>
        <div class="row margin-b-60">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4 text-center">
                <button class="btn-lm continue-btn" ng-disabled="checkDisabled()" ng-click="continue($event)">{{'STEP_THREE_CONTINUE_BUTTON' | translate}}<span class="arrow padding-l-20"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
            </div>
            <div class="col-md-4 col-sm-4"></div>
        </div>
    </div>
</div>
