﻿<div class="row publish-upload">
    <div class="col-md-1 col-sm-1 col-xs-2">
    </div>
    <div class="col-md-10 col-sm-10 col-xs-8">
        <h1 class="title" translate="STEP_ONE_TITLE"></h1>
        <p class="step"><span class="step-number">1.</span>{{'STEP_ONE_INFO_ONE_PART_ONE' | translate}} <a href="http://cdn.luxurymarket.com/uploads/templates/offer-upload-template.xlsx" target="_blank" translate="STEP_ONE_TEMPLATE_LINK"></a> {{'STEP_ONE_INFO_ONE_PART_TWO' | translate}}</p>
        <p class="step"><span class="step-number">2.</span>{{'STEP_ONE_INFO_TWO' | translate}}</p>
        <p class="step" translate="STEP_ONE_INFO_NOTE"></p>

        <div class="file-upload-wrapper">
            <i class="fa fa-file-excel-o upload-icon" aria-hidden="true"></i>
            <div class="file-input">
                <input type="text" ng-model="currentFileName" readonly placeholder="{{'STEP_ONE_UPLOAD_TEXT' | translate}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                <div class="upload-progress-bar" style="width: {{progress}}%;"></div>
            </div>
            <!--<i class="remove fa fa-times" ng-click="cancelUpload()" ng-show="currentFileName !== null"></i>-->
            <i class="remove fa fa-spinner spinning" ng-show="isLoading"></i>
        </div>

        <div class="drag-and-drop-zone"
             ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false"
             accept=".xlsx,.xls" ngf-max-files="1" ngf-max-size="'15MB'">
            <p translate="STEP_ONE_UPLOAD_NOTE">Drag file here</p>
            <p>{{'STEP_ONE_UPLOAD_NOTE_2' | translate}} <span translate="STEP_ONE_BROWSE_BUTTON"></span></p>
        </div>

        <p class="text-center margin-t-20 error" ng-show="error !== null">
            {{error}}
        </p>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-2">
    </div>
</div>
