﻿<div class="container-fluid account-info-container">
    <div class="row">
        <div class="col-md-12 nav-steps nopadding margin-t-10 border-bottom">
            <div class="page-steps">
                <a href="#" class="medium-blue-1">{{'MY_ACCOUNT'| translate}}</a>
                <a href="#"> &#47; {{'ACCOUNT_INFO'| translate}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10 nopadding">
            <h3 class="account-title">{{'ACCOUNT_INFO'| translate}} <span ng-show="account.isLoading"> <i class="fa fa-spinner spinning"></i> </span></h3>
            <div class="row border-row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-11 col-sm-12 contact-column">
                            <h3 class="contact">{{'COMPANY_NAME'| translate}}<span class="span-contact" ng-bind="account.accountPreviewModel.companyName"></span></h3>
                        </div>
                        <div class="col-md-1 edit-account nopadding">
                            <span ng-hide="true" class="icon-wrapper" data-toggle="collapse" data-target="#company-name"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 collapse" id="company-name">
                            <form>
                                <div class="form-group margin-b-30">
                                    <input type="text" placeholder="{{account.accountPreviewModel.companyName}}" />
                                </div>
                                <div class="margin-b-30">
                                    <button class="btn-lm btn-lm-cancel">{{'CANCEL'| translate}}</button>
                                    <button class="btn-lm btn-lm-save right">{{'SAVE'| translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-11 col-sm-12 contact-column">
                            <h3 class="contact">{{'EMAIL'| translate}}<span class="span-email" ng-bind="account.accountPreviewModel.email"></span></h3>
                        </div>
                        <div class="col-md-1 edit-account nopadding">
                            <span ng-hide="true" class="icon-wrapper" data-toggle="collapse" data-target="#email"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 collapse" id="email">
                            <form>
                                <div class="form-group margin-b-30">
                                    <input type="text" placeholder="{{account.accountPreviewModel.email}}" />
                                </div>
                                <div class="margin-b-30">
                                    <button class="btn-lm btn-lm-cancel">{{'CANCEL'| translate}}</button>
                                    <button class="btn-lm btn-lm-save right">{{'SAVE'| translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-11 col-sm-11 contact-column">
                            <h3 class="contact">{{'CONTACT_NAME'| translate}}<span class="span-contact" ng-bind="account.accountPreviewModel.contactName"></span></h3>
                        </div>
                        <div class="col-md-1 col-sm-1 edit-account nopadding">
                            <span class="icon-wrapper" ng-click="account.open('#contact-name', account.accountModel.contactName = account.accountPreviewModel.contactName)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 collapse" id="contact-name">
                            <form ng-submit="account.submit(account.accountModel.contactName, null)" name="account.contactNameForm" novalidate>
                                <div class="form-group margin-b-30">
                                    <label class="floating" ng-show="account.contactNameForm.contactName.$dirty && !account.contactNameForm.contactName.$error.required">{{'CONTACT_NAME'| translate}}</label>
                                    <input id="contactName" class="" ng-model="account.accountModel.contactName" ng-maxlength="100" name="contactName" placeholder="{{account.accountPreviewModel.contactName}}" type="text" required>
                                    <div class="error-messages" ng-messages="account.contactNameForm.contactName.$error" ng-show="account.contactNameForm.contactName.$dirty" role="alert">
                                        <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                                        <div ng-message="maxlength" class="message">{{'FIELD_TOO_LONG'| translate}}</div>
                                    </div>
                                </div>
                                <div class="margin-b-30">
                                    <button type="button" class="btn-lm btn-lm-cancel" ng-click="account.cancel('#contact-name', account.accountModel.contactName = '')">{{'CANCEL'| translate}}</button>
                                    <button class="btn-lm btn-lm-save right">{{'SAVE'| translate}} <i class="fa fa-spinner spinning" ng-show="account.isLoadingSumbitChanges"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-11 col-sm-11 contact-column">
                            <h3 class="contact">{{'CONTACT_PHONE_NUMBER'| translate}}<span class="span-email" ng-bind="account.accountPreviewModel.contactPhoneNumber"></span></h3>
                        </div>
                        <div class="col-md-1 col-sm-1 edit-account nopadding">
                            <span class="icon-wrapper" ng-click="account.open('#phone', account.accountModel.contactPhoneNumber = account.accountPreviewModel.contactPhoneNumber)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 collapse" id="phone">
                            <form ng-submit="account.submit(null, account.accountModel.contactPhoneNumber)" name="account.contactPhoneNumberForm" novalidate>
                                <div class="form-group margin-b-30">
                                    <label class="floating" ng-show="account.contactPhoneNumberForm.contactPhoneNumber.$dirty && !account.contactPhoneNumberForm.contactPhoneNumber.$error.required">{{'CONTACT_PHONE_NUMBER'| translate}}</label>
                                    <input id="contactPhoneNumber" class="" ng-model="account.accountModel.contactPhoneNumber" ng-maxlength="50" name="contactPhoneNumber" placeholder="{{account.accountPreviewModel.contactPhoneNumber}}" type="text" required>
                                    <div class="error-messages" ng-messages="account.contactPhoneNumberForm.contactPhoneNumber.$error" ng-show="account.contactPhoneNumberForm.contactPhoneNumber.$dirty" role="alert">
                                        <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                                        <div ng-message="maxlength" class="message">{{'FIELD_TOO_LONG'| translate}}</div>
                                    </div>
                                </div>
                                <div class="margin-b-30">
                                    <button type="button" class="btn-lm btn-lm-cancel" ng-click="account.cancel('#phone', account.accountModel.contactPhoneNumber = '')">{{'CANCEL'| translate}}</button>
                                    <button class="btn-lm btn-lm-save right">{{'SAVE'| translate}} <i class="fa fa-spinner spinning" ng-show="account.isLoadingSumbitChanges"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-11 col-sm-11 contact-column">
                            <h3 class="contact">{{'PASSWORD'| translate}}<span class="span-email">*********</span></h3>
                        </div>
                        <div class="col-md-1 col-sm-1 edit-account nopadding">
                            <span class="icon-wrapper" ng-click="account.open('#password', account.changePasswordModel.oldPassword = '', account.changePasswordModel.newPassword = '')"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 collapse" id="password">
                            <form ng-submit="account.changePassword(account.changePasswordModel.oldPassword, account.changePasswordModel.newPassword)" name="account.changePasswordForm" novalidate>
                                <div class="form-group margin-b-30">
                                    <lable for="old-pass" class="label-password">{{'CURRENT_PASSWORD'| translate}}</lable>
                                    <label class="floating" ng-show="account.changePasswordForm.oldPassword.$dirty && !account.changePasswordForm.oldPassword.$error.required"></label>
                                    <input id="old-pass" type="password" class="" ng-checkOldPassword ng-model="account.changePasswordModel.oldPassword" ng-minlength="6" ng-maxlength="50" name="oldPassword" placeholder="" required autocomplete="off">
                                    <div class="error-messages" ng-messages="account.changePasswordForm.oldPassword.$error" ng-show="account.changePasswordForm.oldPassword.$dirty" role="alert">
                                        <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                                        <div ng-message="minlength" class="message">{{'FIELD_TOO_SHORT'| translate}}</div>
                                        <div ng-message="maxlength" class="message">{{'FIELD_TOO_LONG'| translate}}</div>
                                        <div ng-message="checkOldPassword" class="message">{{'CHECK_OLD_PASSWORD'| translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group margin-b-30">
                                    <lable for="new-pass" class="label-password">{{'NEW_PASSWORD'| translate}}</lable>
                                    <label class="floating" ng-show="account.changePasswordForm.newPassword.$dirty && !account.changePasswordForm.newPassword.$error.required"></label>
                                    <input id="new-pass" type="password" class="" ng-model="account.changePasswordModel.newPassword" ng-minlength="6" ng-maxlength="50" name="newPassword" placeholder="" required autocomplete="off">
                                    <div class="error-messages" ng-messages="account.changePasswordForm.newPassword.$error" ng-show="account.changePasswordForm.newPassword.$dirty" role="alert">
                                        <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                                        <div ng-message="minlength" class="message">{{'FIELD_TOO_SHORT'| translate}}</div>
                                        <div ng-message="maxlength" class="message">{{'FIELD_TOO_LONG'| translate}}</div>
                                    </div>
                                </div>
                                <div class="margin-b-30">
                                    <button type="button" class="btn-lm btn-lm-cancel" ng-click="account.cancel('#password', account.changePasswordModel.oldPassword = '', account.changePasswordModel.newPassword = '')">{{'CANCEL'| translate}}</button>
                                    <button class="btn-lm btn-lm-save right">{{'SAVE'| translate}} <i class="fa fa-spinner spinning" ng-show="account.isLoadingChangePassword"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
</div>