﻿<!-- Header -->
<div class="container-fluid header-publish-offer">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right company-info">
            <p class="name">
                <span>{{main.userInfo.FirstName}}</span>&#44; {{main.userInfo.Companies[0].CompanyName}}
                <span class="logout" ng-click="main.logout($event)"><i class="fa fa-power-off" aria-hidden="true"></i></span>
            </p>
        </div>
    </div>
</div>
<!-- Container -->
<div id="wrapper" class="margin-b-60">
    <div class="container-fluid publish-offer nopadding">
        <nav class="navbar navigation-bar nopadding menu-small" ng-controller="AdminMenuController as menu">
            <div class="nopadding">
                <ul class="nav navbar-nav nav-list">
                    <li class="logo-image">
                        <img src="../assets/images/logo-luxury.png" alt="luxury logo" class="hidden-sm hidden-xs" />
                        <span class="hidden-md hidden-lg mobile-bars"><i class="fa fa-bars" aria-hidden="true"></i></span>
                    </li>
                    <li>
                        <a href="#" class="website" ui-sref="site.home"><span class="icon-nav"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span>{{'VIEW_WEBSITE'| translate}}</a>
                    </li>
                    <li ng-repeat="item in menu.items">
                        <a ng-href="{{item.path}}" ng-click="menu.menuItemClick($event, item)">
                            <span class="icon-nav"><i class="{{item.iconCls}}" aria-hidden="true"></i></span>{{item.label | translate}}
                            <span class="angle-icon" ng-if="item.children"><i class="fa" ng-class="{'fa-angle-down' : !item.open, 'fa-angle-up' : item.open}" aria-hidden="true"></i></span>
                        </a>
                        <ul class="offer" ng-if="item.children" ng-show="item.open">
                            <li ng-repeat="child in item.children"><a ng-href="{{child.path}}" ng-bind="child.label | translate"></a></li>
                        </ul>
                    </li>
                    <li class="help">
                        <a href="#" class="help-tag" ui-sref="auth.static.customer-service"><span class="icon-nav"><i class="fa fa-question-circle-o" aria-hidden="true"></i></span>{{'HELP'| translate}}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid details-container">
        <ui-view></ui-view>
    </div>
</div>

<!-- Footer -->
<div class="container-fluid footer-bar">
    <div class="row">
        <div class="col-lg-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-10 col-sm-10 col-xs-10">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="contact-info">
                        <h3 class="contact-title" ui-sref="auth.static.policies">{{'PRIVACY_POLICY'| translate}}</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="contact-info">
                        <h3 class="contact-title" ui-sref="auth.static.terms-and-conditions">{{'TERMS_AND_CONDITIONS'| translate}}</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="contact-info">
                        <h3 class="contact-title" ui-sref="auth.static.authenticity">{{'AUTHENTICITY'| translate}}</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="contact-info">
                        <h3 class="contact-title">&#169;luxury market 2017</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>