﻿ <!-- Header Home -->
<header id="header-luxury">
    <div class="container head">
        <div class="main-menu-wapper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 menu-wapper">
                    <div class="top-header">
                        <div class="col-sm-3 col-md-4 col-lg-4 padding-sm"></div>
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 logo pointer" ui-sref="site.home">
                            <img src="assets/images/logos/1.png" alt="logo">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 box-control no-padding-r">
                            <div class="col-xs-6 col-sm-5 col-md-5 padding-sm">
                                <ul id="usermenuwrapper" class="padding-username">
                                    <li class="username">
                                        <div class="btn-group btn-changes">
                                            <button id="usermenu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{main.userInfo.displayName}} <span class="fa fa-angle-down"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <!--<li><a href="#" ui-sref="admin.dashboard">{{'MENU_DASHBOARD'| translate}}</a></li>-->
                                                <li><a href="#" ui-sref="admin.account-info">{{'MENU_ACCOUNT_SETTINGS'| translate}}</a></li>
                                                <li><a href="#" ng-click="main.logout($event)">{{'MENU_SIGN_OUT'| translate}}</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="type">{{'MENU_ELITE'| translate}}</li>
                                    <li class="language">
                                        <div class="current dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{main.language}}</div>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="main.translate($event,'en')">Eng</a></li>
                                            <li><a ng-click="main.translate($event,'it')">It</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-md-2 linesheet hidden-xs">{{'MENU_LINESHEET'| translate}}&#58;</div>
                            <div class="col-xs-6 col-sm-4 col-md-5 mini-cart no-padding-l">
                                <a class="cart-link" ui-sref="site.cart">
                                    <ul class="items-cart">
                                        <li><span>{{main.cart.itemsCount}}</span>&nbsp;{{'MENU_ITEMS'| translate}}</li>
                                        <li><span>{{main.cart.unitsCount}}</span>&nbsp;{{'MENU_UNITS'| translate}}</li>
                                        <li><span>{{main.cart.totalCustomerCost | currency : undefined: 0}}</span>&nbsp;{{'MENU_ORDER'| translate}}</li>
                                    </ul>
                                </a>
                                <!-- Dropdown shopping cart -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12 nopadding">
                <ul id="sitemenu" class="luxury-nav" ng-controller="SiteMenuController as menu">
                    <li ng-repeat="item in menu.items">
                        <a href="#" ng-class="{'active' : item.active}" ng-bind="item.label" ng-click="menu.menuItemClick($event, item)"></a>
                    </li>
                    <li class="search-wrapper">
                        <a href="#" ng-click="menu.openSearch($event)"><i class="fa fa-search"></i></a>
                        <div class="search-input-wrapper">
                            <input type="text" ng-show="menu.isSearchOpen" placeholder="{{'MENU_SEARCH_PLACEHOLDER'| translate}}" ng-keyup="menu.searchByKeyword($event)" ng-model="menu.keyword" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- End Header Home -->
<ui-view></ui-view>
<!-- End Home Container -->
<!-- Footer -->
<div id="top-footer">
    <!--<div class="back-top">
        <span class="arrow-back-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
        <p>Back to Top</p>
    </div>
        -->
    <div class="container footer-m nopadding">
        <div class="row margin-0">
            <div class="col-md-5 col-sm-5 col-xs-4">
                <span class="border-l"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 img-sm">
                <img src="assets/images/logos/2.png" alt="">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-4">
                <span class="border-l"></span>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="contact-info">
                        <h3 class="contact-title" ui-sref="auth.static.customer-service">{{'MENU_CUSTOMER_SERVICE'| translate}}</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                    <div class="contact-info">
                        <h3 class="contact-title" ui-sref="auth.static.policies">{{'MENU_PRIVACY_POLICY'| translate}}</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                    <div class="contact-info">
                        <h3 class="contact-title" ui-sref="auth.static.authenticity">{{'MENU_AUTHENTICITY'| translate}}</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                    <div class="contact-info">
                        <h3 class="contact-title" ui-sref="auth.static.terms-and-conditions">{{'MENU_TERMS_AND_CONDITIONS'| translate}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyright text-center">
                <span>Copyright  © 2017 Luxury Market. All Rights Reserved</span>
            </div>
        </div>
    </div>
</div>
<div class="lm-back-drop"></div>