﻿<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row margin-t-40">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="shipment-title">{{'MANAGE_SHIPPING_TITLE'| translate}}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right btn-check">
                    <button class="btn-lm checkout-btn" ng-if="shipment.details.shipmentsCount > 0" ng-click="shipment.continueCheckout()">{{'MANAGE_SHIPPING_CONTINUE_CHECKOUT'| translate}}<span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                </div>
            </div>

            <div ng-repeat="ship in shipment.details.shipments">
                <div class="row">
                    <div class="col-md-12 margin-t-10">
                        <p class="shipment-step">{{'MANAGE_SHIPPING_STEP_TITLE'| translate}} {{$index + 1}} {{'MANAGE_SHIPPING_OF'| translate}} {{shipment.details.shipmentsCount}}</p>
                    </div>
                </div>
                <div class="border">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 bold-paragraph">
                            <p class="margin-0">{{'MANAGE_SHIPPING_SHIPS_FROM'| translate}}:<span>{{ship.shipsFromRegion}} {{ship.shipingIterval}}</span></p>
                            <p>{{'MANAGE_SHIPPING_TOTAL_STYLES'| translate}}:<span ng-bind="ship.totalStylesCount"></span></p>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-4 bold-paragraph nopadding">
                            <p class="margin-0">{{'MANAGE_SHIPPING_APPAREL'| translate}}:<span>{{ship.apparelCost | currency: undefined : 0}}</span></p>
                            <p>{{'MANAGE_SHIPPING_NON_APPAREL'| translate}}:<span>{{ship.nonApparelCost | currency: undefined : 0}}</span></p>
                        </div>
                        <div class="col-md-5 col-sm-4 col-xs-4 text-right margin-t-20">
                            <p class="bold-paragraph total-cost">{{'MANAGE_SHIPPING_FREIGHT'| translate}} & {{'MANAGE_SHIPPING_DUTIES'| translate}}:<span>{{ship.totalShippingCost | currency: undefined : 0}}</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="line-up">
                            <div class="col-md-2 col-sm-2 nopadding margin-t-10 sm-margin">
                                <p class="margin-0 view-products-section" ng-click="shipment.viewProducts($event, ship)"><span class="caret-caret"><i class="fa" ng-class="{'fa-caret-down' : ship.showProducts, 'fa-caret-right' : !ship.showProducts}" aria-hidden="true"></i></span>{{'MANAGE_SHIPPING_VIEW_PRODUCTS'| translate}}</p>
                            </div>
                            <div class="col-md-10 col-sm-10"></div>
                        </div>

                        <div class="row row-margin sm-view" ng-show="ship.showProducts">
                            <div class="col-md-12 open padding-t-15">
                                <div class="row margin-lr-5 line-up-one" ng-repeat="product in ship.shipmentItems">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 product-image text-center relative">
                                        <img ng-src="{{product.productMainImageLink}}" />
                                    </div>
                                    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 product-items">
                                        <p class="info">{{product.productName}}</p>
                                        <p class="prod-brand">{{product.brandName}}</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 units-sizes-shipment">
                                        <div class="row unit-shipment" ng-repeat="seller in product.shipmentItemByBySellers">
                                            <div class="col-md-6 col-sm-6 nopadding">
                                                <span class="padding-l-5">{{seller.sellerAlias}}</span>
                                                <span class="unit-count pull-right"><span class="bold">{{seller.unitsCount}}</span>&nbsp;{{'MANAGE_SHIPPING_UNITS'| translate}}&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 nopadding text-right">
                                                <span class="units-price pull-left bold">@&nbsp;{{seller.unitOfferCost | currency :undefined:0}}</span>
                                                <span class="total-price bold padding-r-5">{{seller.totalOfferCost | currency :undefined:0}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 total-units-cost nopadding">
                                        <p>{{'MANAGE_SHIPPING_TOTAL_UNITS'| translate}}: <span>{{product.totalUnits}}</span></p>
                                        <p>{{'MANAGE_SHIPPING_FREIGHT'| translate}} & {{'MANAGE_SHIPPING_DUTIES'| translate}}: <span>{{product.shippingCost | currency :undefined:0}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="ship.showProducts">
                    <div class="col-md-12 text-right">
                        <button class="btn-lm-link" ng-click="shipment.cancelShipment($event, ship)">{{'MANAGE_SHIPPING_CANCEL_SHIPMENT'| translate}} <i class="fa fa-spinner spinning" ng-show="ship.isCancelLoading"></i></button>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="shipment.details.shipmentsCount > 0">
                <div class="col-md-12 text-right margin-t-20 btn-check">
                    <p class="bold-paragraph total-cost">{{'MANAGE_SHIPPING_TOTAL_FREIGHT'| translate}} & {{'MANAGE_SHIPPING_DUTIES'| translate}}:<span>{{shipment.details.totalShippingCost | currency: undefined : 0}}</span></p>
                    <button class="btn-lm checkout-btn margin-t-30" ng-click="shipment.continueCheckout()">{{'MANAGE_SHIPPING_CONTINUE_CHECKOUT'| translate}}<span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                </div>
            </div>

            <div class="row margin-t-40 margin-b-40" ng-show="shipment.details.shipmentsCount === 0 && !shipment.isLoading">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p class="text-center margin-t-30 font-18">{{'MANAGE_SHIPPING_NO_PRODUCTS_ADDED'| translate}}</p>
                    <p class="text-center"><button class="btn-lm checkout-btn" ui-sref="site.home">{{'MANAGE_SHIPPING_CONTINUE_SHOPPING'| translate}}&nbsp;<span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button></p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row margin-t-40 margin-b-40" ng-show="shipment.isLoading">
                <div class="col-md-12 text-center"><i class="fa fa-spinner spinning"></i></div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>