﻿<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 summary-container margin-t-40" ng-hide="os.showConfirm">
            <form name="os.submitForm">
                <div class="row">
                    <div class="col-md-12 margin-b-30">
                        <p class="step">1. {{'ORDER_SUMMARY_STEP1'| translate}}</p>
                        <div class="row margin-b-20">
                            <div class="col-md-4 col-sm-5 order-part">
                                <p>{{'ORDER_SUMMARY_PRODUCT_COST'| translate}}: <span>{{os.preview.summary.productCosts | currency :undefined:0}}</span></p>
                                <p>{{'ORDER_SUMMARY_FREIGHT'| translate}} &#38; {{'ORDER_SUMMARY_DUTIES'| translate}}: <span>{{os.preview.summary.shippingCost | currency :undefined:0}}</span></p>
                                <p class="bold">{{'ORDER_SUMMARY_TOTAL_LANDED_COST'| translate}}: <span>{{os.preview.summary.totalLandedCost | currency :undefined:0}}</span></p>
                            </div>
                            <div class="col-md-8 col-sm-7 text-right">
                                <button class="btn-lm btn-lm-empty btn-lm-small margin-t-40" ng-click="os.showProducts($event)">{{'ORDER_SUMMARY_VIEW_PRODUCTS'| translate}}&nbsp;<i class="fa fa-spinner spinning" ng-show="os.loadingProducts"></i><span class="arrow-btn"><i class="fa" ng-class="{'fa-angle-up' : os.viewProducts, 'fa-angle-down' : !os.viewProducts}" aria-hidden="true"></i></span></button>
                            </div>
                        </div>
                        <!-- View products -->

                        <div class="row margin-0 border view-products" ng-show="os.viewProducts">
                            <div class="col-md-12 nopadding open scrollbar-bar">
                                <div class="row margin-lr-5 line-up-only-one" ng-repeat="product in os.productDetails.items" ng-if="!product.inactive">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 product-image text-center">
                                        <img ng-src="{{product.productMainImageLink}}" />
                                    </div>
                                    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 product-items nopadding">
                                        <p class="navigation-product">{{product.categoryName}}</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 no-padding-r">
                                                <p class="info">{{product.productName}}</p>
                                                <p class="product-sum hidden-sm hidden-xs">{{'ORDER_SUMMARY_PRODUCT_ID'| translate}}: <span>{{product.productId}}</span></p>
                                            </div>
                                            <div class="col-md-6 nopadding">
                                                <p class="product-sum hidden-sm hidden-xs">{{'ORDER_SUMMARY_MATERIAL'| translate}}: <span>{{product.materialCode}}</span></p>
                                                <p class="product-sum hidden-sm hidden-xs">{{'ORDER_SUMMARY_COLOR'| translate}}: <span>{{product.colorName}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 units-sizes-shipment">
                                        <div class="row unit-shipment" ng-repeat="seller in product.sellerUnits">
                                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                                <span>&nbsp;{{seller.sellerAlias}}</span>
                                                <span class="unit-count pull-right"><span class="bold">{{seller.unitsCount}}</span>&nbsp;{{'ORDER_SUMMARY_UNITS'| translate}}&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding text-right">

                                                <span class="units-price pull-left">@&nbsp;{{seller.customerUnitPrice | currency :undefined:0}}</span>
                                                <span class="total-price bold">{{seller.totalCustomerCost | currency :undefined:0}}&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 total-units-cost nopadding">
                                        <p>{{'ORDER_SUMMARY_TOTAL_UNITS'| translate}}: <span>{{product.totalUnitsCount}}</span></p>
                                        <p>{{'ORDER_SUMMARY_PRODUCT_COST'| translate}}: <span>{{product.totalCustomerCost | currency:undefined:0}}</span></p>
                                        <p>{{'ORDER_SUMMARY_FREIGHT'| translate}} & {{'ORDER_SUMMARY_DUTIES'| translate}}: <span>{{product.totalShippingCost | currency:undefined:0}}</span></p>
                                        <p>{{'ORDER_SUMMARY_TOTAL_LANDED_COST'| translate}}: <span>{{product.totalLandedCost | currency:undefined:0}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End View products-->

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-b-30">
                        <p class="step">2. {{'ORDER_SUMMARY_STEP2'| translate}}</p>
                        <p class="payment-details">{{'ORDER_SUMMARY_SELECT_PAYMENT'| translate}}</p>
                        <div class="dropdown payment-dropdown">
                            <select class="btn-lm btn-lm-empty btn-lm-small btn-lm-payment" name="payment" ng-options="item.paymentMethodId as item.paymentMethodName for item in os.preview.paymentMethods" ng-model="os.preview.selectedPaymentMethod" required></select>
                            <div class="error-messages" ng-messages="os.submitForm.payment.$error" ng-show="os.submitForm.payment.$dirty" role="alert">
                                <div ng-message="required" class="message">{{'ORDER_SUMMARY_SELECT_PAYMENT_ERROR'| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 " ng-class="{'margin-b-30' : os.showInvalidItems}">
                        <p class="step">3. {{'ORDER_SUMMARY_SHIPPING'| translate}} &#38; {{'ORDER_SUMMARY_BILLING_ADDRESS'| translate}}</p>
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                <p class="address">{{'ORDER_SUMMARY_BILLING_ADDRESS'| translate}}</p>
                                <div class="address-details right-bar">
                                    <p class="change-name" ng-bind="os.preview.billingAddress.city"></p>
                                    <p>{{'ORDER_SUMMARY_STREET'| translate}}: <span ng-bind="os.preview.billingAddress.street1"></span></p>
                                    <p>{{'ORDER_SUMMARY_CITY'| translate}}: <span ng-bind="os.preview.billingAddress.city"></span></p>
                                    <p>{{'ORDER_SUMMARY_STATE_FULL'| translate}}: <span ng-bind="os.preview.billingAddress.countryName + ' ' + os.preview.billingAddress.stateName"></span></p>
                                    <p>{{'ORDER_SUMMARY_ZIP_CODE'| translate}}: <span ng-bind="os.preview.billingAddress.zipCode"></span></p>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <p class="address">{{'ORDER_SUMMARY_SHIPPING_ADDRESS'| translate}}</p>
                                <div class="address-details">
                                    <p class="change-name" ng-bind="os.preview.shippingAddress.city"></p>
                                    <p>{{'ORDER_SUMMARY_STREET'| translate}}: <span ng-bind="os.preview.shippingAddress.street1"></span></p>
                                    <p>{{'ORDER_SUMMARY_CITY'| translate}}: <span ng-bind="os.preview.shippingAddress.city"></span></p>
                                    <p>{{'ORDER_SUMMARY_STATE_FULL'| translate}}: <span ng-bind="os.preview.shippingAddress.countryName + ' ' + os.preview.shippingAddress.stateName"></span></p>
                                    <p>{{'ORDER_SUMMARY_ZIP_CODE'| translate}}: <span ng-bind="os.preview.shippingAddress.zipCode"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="os.showInvalidItems">
                    <div class="col-md-12">
                        <p class="step step-red">4. Out Of Stock Items</p>
                        <p class="payment-details">The following products are no longer available.<br /> Please review updated cart summary and re-submit the order. Thank you</p>
                        <button class="btn-lm btn-lm-empty btn-lm-small" ng-click="os.viewInvalidItems = !os.viewInvalidItems">
                            {{'ORDER_SUMMARY_VIEW_PRODUCTS'| translate}}&nbsp;
                            <span class="arrow-btn"><i class="fa" ng-class="{'fa-angle-up' : os.viewProducts, 'fa-angle-down' : !os.viewProducts}" aria-hidden="true"></i></span>
                        </button>
                        <div class="row margin-0 border view-products margin-t-30" ng-show="os.viewInvalidItems">
                            <div class="col-md-12 nopadding open scrollbar-bar">
                                <div class="row margin-lr-5 line-up-only-one" ng-repeat="product in os.productDetails.items | filter : { hasInvalidItems : true }" ng-if="!product.inactive">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 product-image text-center">
                                        <img ng-src="{{product.productMainImageLink}}" />
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 product-items nopadding">
                                        <p class="navigation-product">{{product.categoryName}}</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 no-padding-r">
                                                <p class="info">{{product.productName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 product-items nopadding">
                                        <p class="product-sum hidden-sm hidden-xs">{{'ORDER_SUMMARY_PRODUCT_ID'| translate}}: <span>{{product.productId}}</span></p>
                                        <p class="product-sum hidden-sm hidden-xs">{{'ORDER_SUMMARY_MATERIAL'| translate}}: <span>{{product.materialCode}}</span></p>
                                        <p class="product-sum hidden-sm hidden-xs">{{'ORDER_SUMMARY_COLOR'| translate}}: <span>{{product.colorName}}</span></p>
                                    </div>
                                    <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 units-sizes-shipment">
                                        <div class="row unit-shipment" ng-repeat="seller in product.sellerUnits">
                                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                                <span>&nbsp;{{seller.sellerAlias}}</span>
                                                <span class="unit-count pull-right"><span class="bold">{{seller.invalidUnitsTotalCount}}</span>&nbsp;{{'ORDER_SUMMARY_UNITS'| translate}}&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding text-right">
                                                <span class="units-price pull-left">@&nbsp;{{seller.customerUnitPrice | currency :undefined:0}}</span>
                                                <span class="total-price bold">{{seller.totalCustomerCost | currency :undefined:0}}&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-t-50 text-right">
                        <p class="submit-part">{{'ORDER_SUMMARY_BY_CLICKING_SUBMIT'| translate}} <a ui-sref="auth.static.terms-and-conditions" target="_blank" class="conditions">{{'ORDER_SUMMARY_TERMS'| translate}} & {{'ORDER_SUMMARY_CONDITIONS'| translate}}</a></p>
                        <button class="btn-lm btn-lm-small margin-t-30" ng-click="os.submitOrder()" ng-disabled="os.isSubmitting">{{'ORDER_SUMMARY_SUBMIT'| translate}}&nbsp;<i class="fa fa-spinner spinning" ng-show="os.isSubmitting"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-10 summary-container margin-t-40" ng-show="os.showConfirm">
            <h1 class="text-center margin-t-40">Order {{os.orderNumber}} {{'ORDER_SUMMARY_SUBMITTED'| translate}}</h1>
            <p style="font-size: 20px;" class="text-center">{{'ORDER_SUMMARY_SUBMITTED_WITH_SUCCESS'| translate}}</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>