﻿<div class="container description-container">
    <div class="row">
        <div class="col-md-12 col-sm-12" ng-class="{'col-md-12 col-sm-12' : !(products.showTakeAll && !products.isSeller), 'col-md-10 col-sm-12': products.showTakeAll && !products.isSeller}">
            <div class="navigation margin-t-10">
                <a href="#">{{'PRODUCT_LIST_HOME'| translate}}</a>
                <span ng-bind="products.header | translate" class="next-page"></span>
            </div>
            <div class="subtitle-home margin-t-20 left">
                <p class="first-subtitle" ng-if="!products.translateHeader.title" ng-bind="products.header"></p>
                <p class="second-subtitle text-left" ng-if="!products.translateHeader.subtitle && !products.showTakeAllDetails" ng-bind="products.subtitle"></p>

                <p class="first-subtitle" ng-if="products.translateHeader.title" ng-bind="products.header | translate"></p>
                <p class="second-subtitle text-left" ng-if="products.translateHeader.subtitle && !products.showTakeAllDetails" ng-bind="products.subtitle | translate"></p>
                <p ng-if="products.showTakeAllDetails">
                    <span class="bold">Offer ID:</span>&nbsp;{{products.details.offerSummary.offerID}} &nbsp;|&nbsp;
                    <span class="bold">Total Cost:</span>&nbsp;{{products.details.offerSummary.totalPrice | currency: '$' : 0}} &nbsp;|&nbsp;
                    <span class="bold">Total Styles:</span>&nbsp;{{products.details.offerSummary.totalProducts}} &nbsp;|&nbsp;
                    <span class="bold">Total Units:</span>&nbsp;{{products.details.offerSummary.totalUnits}}
                </p>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 text-right margin-t-40" ng-if="products.showTakeAll && !products.isSeller">
            <button class="btn-lm btn-lm-shopping take-all-btn" ng-click="products.addTakeAll($event)" data-toggle="dropdown" type="button" id="dLabel">{{'PRODUCT_LIST_BUY_ALL'| translate}}<i class="fa" ng-class="{'fa-spinner spinning' : products.isAddingOffer}" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-2 sidebar">
            <h2 class="sidebar-title">{{'PRODUCT_LIST_CATEGORIES'| translate}}</h2>
            <div class="radio radio-box" ng-repeat="business in products.filters.availableBusinesses">
                <input type="radio" id="business-{{business.id}}" name="business" ng-checked="business.selected" ng-click="products.changeBusiness($event, business)" />
                <label for="business-{{business.id}}" class="radio-label"><span></span>{{business.businessName}}</label>
            </div>
            <ul class="no-padding-l" ng-show="products.filters.showTree">
                <li class="font-list" ng-repeat="division in products.filters.business.divisions | filter:{active:true}">
                    <span class="pointer caret" ng-class="{'caret-down' : division.open, 'caret-right' : !division.open}" ng-click="products.openTree('division', division)"></span>
                    <span class="pointer" ng-class="{'bold' : division.selected}" ng-click="products.filterBy('division', division)">
                        {{division.divisionName}}
                    </span>
                    <ul class="apparel-list padding-l-15" ng-show="division.open">
                        <li ng-repeat="department in division.departments | filter:{active:true}">
                            <span class="pointer caret" ng-class="{'caret-down' : department.open, 'caret-right' : !department.open}" ng-click="products.openTree('department', department, division)"></span>
                            <span class="pointer" ng-class="{'bold' : department.selected}" ng-click="products.filterBy('department', department, division)">{{department.departmentName}}</span>
                            <ul class="no-padding-l" ng-show="department.open">
                                <li ng-repeat="category in department.categories | filter:{active:true}">
                                    <div class="checkbox check-box">
                                        <input type="checkbox" id="category-{{category.id}}" ng-checked="category.selected" name="iCheck" ng-click="products.filterBy('category', category, department, division)" />
                                        <label for="category-{{category.id}}"><span></span>{{category.categoryName}}</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2 class="sidebar-title" ng-if="products.showBrands">{{'PRODUCT_LIST_BRANDS'| translate}}</h2>
            <ul class="no-padding-l" ng-if="products.showBrands">
                <li ng-repeat="brand in products.filters.brands">
                    <div class="checkbox check-box">
                        <input type="checkbox" id="brand-{{brand.id}}" name="iCheck" ng-click="products.filterBy('brand', brand)" />
                        <label for="brand-{{brand.id}}"><span></span>{{brand.name}}</label>
                    </div>
                </li>
            </ul>
            <h2 class="sidebar-title">{{'PRODUCT_LIST_COLORS'| translate}}</h2>
            <ul class="no-padding-l">
                <li ng-repeat="color in products.filters.colors">
                    <div class="checkbox check-box">
                        <input type="checkbox" id="color-{{color.standardId}}" name="iCheck" ng-click="products.filterBy('color', color)" />
                        <label for="color-{{color.standardId}}"><span></span>{{color.name}}</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Main Container-->
        <div class="main-content col-md-9 col-sm-10 col-xs-10">
            <div class="row">
                <div class="shop-top">
                    <div class="navigation-shop col-md-6 col-sm-7 col-xs-7">
                        <span>{{'PRODUCT_LIST_SORT_BY'| translate}}&#58;</span>
                        <a href="#" ng-class="{'active' : sort.active}" ng-click="products.sortBy($event, sort)" ng-repeat="sort in products.sort" ng-bind="sort.label | translate"></a>
                    </div>
                    <div class="navigation-pages col-md-6 col-sm-5 col-xs-5">
                        <ul class="pagination nav-pages">
                            <li><a href="#" class="pages" ng-click="products.changePage($event,'navClick', 0)">{{'PRODUCT_LIST_PREV'| translate}}</a></li>
                            <li ng-repeat="page in products.pagination.pages"><a href="#" class="pages" ng-class="{'active' : page === products.pagination.page}" ng-click="products.changePage($event,'pageClick', page)">{{page}}</a></li>
                            <li><a href="#" class="pages" ng-show="products.pagination.showAll">...</a></li>
                            <li><a href="#" class="pages" ng-show="products.pagination.showAll" ng-bind="products.pagination.totalPages" ng-click="products.changePage($event,'pageClick', produts.pagination.totalPages)"></a></li>
                            <li><a href="#" class="pages" ng-click="products.changePage($event,'navClick', 1)">{{'PRODUCT_LIST_NEXT'| translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" ng-show="products.isLoading">
                    <i class="fa fa-spinner spinning"></i>
                </div>
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 col-sm-3 col-xs-3 pointer" ng-repeat-start="product in products.details.products" ng-click="products.goToDetails($event, product)">
                            <a class="text-center">
                                <img ng-src="{{product.mainImageUrl}}" ng-show="product.showImage" imageonload="products.imageLoaded(product)" />
                                <img ng-src="./assets/images/product-listing-placeholder.jpg" ng-hide="product.showImage" />
                                <div class="sold-out-overlay" ng-if="product.availableQuantity === 0"></div>
                                <div class="sold-out-text" ng-if="product.availableQuantity === 0"><span>SOLD OUT</span></div>
                            </a>
                            <div class="product-caption">
                                <a class="product-brand" ng-bind="product.brandName"></a>
                                <span class="product-name" ng-bind="product.name"></span>
                                <p class="product-price">{{'PRODUCT_LIST_BEST_PRICE'| translate}}&#58; <span>{{product.lmPrice | currency :undefined:0}}</span></p>
                            </div>
                        </div>
                        <div ng-if="$index % 4 === 3" ng-repeat-end class="clearfix"></div>
                    </div>
                    <div class="row" ng-show="products.details.products.length === 0">
                        <div class="col-md-12 text-center no-results">
                            <p class="bold">{{'PRODUCT_LIST_NO_RESULT_1' | translate}}</p>
                            <p class="bold">{{'PRODUCT_LIST_NO_RESULT_2' | translate}}</p>
                            <p class="bold">{{'PRODUCT_LIST_NO_RESULT_3' | translate}}</p><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin-t-30">
                    <div class="col-md-6 col-sm-7 col-xs-7"></div>
                    <div class="navigation-pages col-md-6 col-sm-5 col-xs-5 nopadding">
                        <ul class="pagination nav-pages">
                            <li><a href="#" class="pages" ng-click="products.changePage($event,'navClick', 0)">{{'PRODUCT_LIST_PREV'| translate}}</a></li>
                            <li ng-repeat="page in products.pagination.pages"><a href="#" class="pages" ng-class="{'active' : page === products.pagination.page}" ng-click="products.changePage($event,'pageClick', page)">{{page}}</a></li>
                            <li><a href="#" class="pages" ng-show="products.pagination.showAll">...</a></li>
                            <li><a href="#" class="pages" ng-show="products.pagination.showAll" ng-bind="products.pagination.totalPages" ng-click="products.changePage($event,'pageClick', produts.pagination.totalPages)"></a></li>
                            <li><a href="#" class="pages" ng-click="products.changePage($event,'navClick', 1)">{{'PRODUCT_LIST_NEXT'| translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="products.showTakeAll && !products.isSeller">
                <div class="col-md-9 hidden-xs col-sm-6">
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 text-right margin-t-15">
                    <button class="btn-lm btn-lm-shopping take-all-btn" ng-click="products.addTakeAll($event)" data-toggle="dropdown" type="button" id="dLabel">{{'PRODUCT_LIST_BUY_ALL'| translate}}<i class="fa" ng-class="{'fa-spinner spinning' : products.isAddingOffer}" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>