﻿<div class="container description-container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="navigation margin-t-10">
                <a href="#">Home</a>
                <span ng-bind="products.header" class="next-page"></span>
            </div>
            <div class="subtitle-home margin-t-20 left">
                <p class="first-subtitle subtitle" ng-bind="products.header"></p>
                <p class="second-subtitle text-left" ng-bind="products.subtitle"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-2 sidebar">
            <h2 class="sidebar-title">Categories</h2>
            <div class="radio radio-box" ng-repeat="business in products.filters.availableBusinesses">
                <input type="radio" id="business-{{business.id}}" name="business" ng-checked="business.selected" ng-click="products.changeBusiness($event, business)" />
                <label for="business-{{business.id}}" class="radio-label"><span></span>{{business.businessName}}</label>
            </div>
            <ul class="no-padding-l" ng-show="products.filters.showTree">
                <li class="font-list" ng-repeat="division in products.filters.business.divisions | filter:{active:true}">
                    <span class="pointer caret" ng-class="{'caret-down' : division.open, 'caret-right' : !division.open}" ng-click="products.openTree('division', division)"></span>
                    <span class="pointer" ng-class="{'bold' : division.selected}" ng-click="products.filterBy('division', division)">
                        {{division.divisionName}}
                    </span>
                    <ul class="apparel-list padding-l-15" ng-show="division.open">
                        <li ng-repeat="department in division.departments | filter:{active:true}">
                            <span class="pointer caret" ng-class="{'caret-down' : department.open, 'caret-right' : !department.open}" ng-click="products.openTree('department', department, division)"></span>
                            <span class="pointer" ng-class="{'bold' : department.selected}" ng-click="products.filterBy('department', department, division)">{{department.departmentName}}</span>
                            <ul class="no-padding-l" ng-show="department.open">
                                <li ng-repeat="category in department.categories | filter:{active:true}">
                                    <div class="checkbox check-box">
                                        <input type="checkbox" id="category-{{category.id}}" ng-checked="category.selected" name="iCheck" ng-click="products.filterBy('category', category, department, division)" />
                                        <label for="category-{{category.id}}"><span></span>{{category.categoryName}}</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2 class="sidebar-title" ng-if="products.showBrands">Brands</h2>
            <ul class="no-padding-l" ng-if="products.showBrands">
                <li ng-repeat="brand in products.filters.brands">
                    <div class="checkbox check-box">
                        <input type="checkbox" id="brand-{{brand.id}}" name="iCheck" ng-click="products.filterBy('brand', brand)" />
                        <label for="brand-{{brand.id}}"><span></span>{{brand.name}}</label>
                    </div>
                </li>
            </ul>
            <h2 class="sidebar-title">Colors</h2>
            <ul class="no-padding-l">
                <li ng-repeat="color in products.filters.colors">
                    <div class="checkbox check-box">
                        <input type="checkbox" id="color-{{color.standardId}}" name="iCheck" ng-click="products.filterBy('color', color)" />
                        <label for="color-{{color.standardId}}"><span></span>{{color.name}}</label>
                    </div>
                </li>
            </ul>
            <!--<div class="orange-color colors"></div>
            <div class="pink-color colors"></div>
            <div class="purple-color colors"></div>
            <div class="red-color colors"></div>
            <div class="yellow-color colors"></div>
            <br />-->
            <!-- Black and white color-->
            <!--<div class="white-color colors"></div>-->
        </div>

        <!-- Main Container-->
        <div class="main-content main-content-vertical col-md-9 col-sm-10 col-xs-10">
            <div class="row">
                <div class="shop-top">
                    <div class="navigation-shop col-md-6 col-sm-7 col-xs-7">
                        <span>Sort by&#58;</span>
                        <a href="#" ng-class="{'active' : sort.active}" ng-click="products.sortBy($event, sort)" ng-repeat="sort in products.sort" ng-bind="sort.label"></a>
                    </div>
                    <div class="view-mode col-md-6 col-sm-5 col-xs-5 text-right">
                       <p class="margin-0">View mode<span class="reorder-icon margin-l-5"><i class="fa fa-bars" aria-hidden="true"></i></span><span class="reorder-icon"><i class="fa fa-th-large" aria-hidden="true"></i></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 border-up">
                    <div class="row product-details-row">
                        <div class="col-md-2 text-center">
                            <img src="../../../assets/images/bag-details-1_03.jpg" />
                        </div>
                        <div class="col-md-6 about-product">
                            <p class="brand">gucci</p>
                            <p class="information">Drew small leather</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="detail">product id:<span>lorem</span></p>
                                    <p class="detail">origin:<span>italy</span></p>
                                    <p class="detail">material:<span>leather</span></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="detail">color:<span>gold</span></p>
                                    <p class="detail">season:<span>summer</span></p>
                                    <p class="detail">retail price:<span>$2000</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 price-part nopadding text-right">
                            <p class="best-price">Best price:<span>$2934.99</span></p>
                            <button class="btn-lm red-btn">buy now<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                            <div class="dropdown">
                                <button class="btn-lm empty-btn">shop additional offers<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 border-up">
                    <div class="row product-details-row">
                        <div class="col-md-2 text-center">
                            <img src="../../../assets/images/bag-details-1_03.jpg" />
                        </div>
                        <div class="col-md-6 about-product">
                            <p class="brand">gucci</p>
                            <p class="information">Drew small leather</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="detail">product id:<span>lorem</span></p>
                                    <p class="detail">origin:<span>italy</span></p>
                                    <p class="detail">material:<span>leather</span></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="detail">color:<span>gold</span></p>
                                    <p class="detail">season:<span>summer</span></p>
                                    <p class="detail">retail price:<span>$2000</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 price-part nopadding text-right">
                            <p class="best-price">Best price:<span>$2934.99</span></p>
                            <button class="btn-lm red-btn">buy now<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                            <div class="dropdown">
                                <button class="btn-lm empty-btn">shop additional offers<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 border-up">
                    <div class="row product-details-row">
                        <div class="col-md-2 text-center">
                            <img src="../../../assets/images/bag-details-1_03.jpg" />
                        </div>
                        <div class="col-md-6 about-product">
                            <p class="brand">gucci</p>
                            <p class="information">Drew small leather</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="detail">product id:<span>lorem</span></p>
                                    <p class="detail">origin:<span>italy</span></p>
                                    <p class="detail">material:<span>leather</span></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="detail">color:<span>gold</span></p>
                                    <p class="detail">season:<span>summer</span></p>
                                    <p class="detail">retail price:<span>$2000</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 price-part nopadding text-right">
                            <p class="best-price">Best price:<span>$2934.99</span></p>
                            <button class="btn-lm red-btn">buy now<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                            <div class="dropdown">
                                <button class="btn-lm empty-btn">shop additional offers<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 border-up">
                    <div class="row product-details-row">
                        <div class="col-md-2 text-center">
                            <img src="../../../assets/images/bag-details-1_03.jpg" />
                        </div>
                        <div class="col-md-6 about-product">
                            <p class="brand">gucci</p>
                            <p class="information">Drew small leather</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="detail">product id:<span>lorem</span></p>
                                    <p class="detail">origin:<span>italy</span></p>
                                    <p class="detail">material:<span>leather</span></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="detail">color:<span>gold</span></p>
                                    <p class="detail">season:<span>summer</span></p>
                                    <p class="detail">retail price:<span>$2000</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 price-part nopadding text-right">
                            <p class="best-price">Best price:<span>$2934.99</span></p>
                            <button class="btn-lm red-btn">buy now<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                            <div class="dropdown">
                                <button class="btn-lm empty-btn">shop additional offers<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="navigation-pages text-right col-md-6 col-sm-5 col-xs-5">
                    <ul class="pagination nav-pages">
                        <li><a href="#" class="pages" ng-click="products.changePage($event,'navClick', 0)">Prev</a></li>
                        <li ng-repeat="page in products.pagination.pages"><a href="#" class="pages" ng-class="{'active' : page === products.pagination.page}" ng-click="products.changePage($event,'pageClick', page)">{{page}}</a></li>
                        <li><a href="#" class="pages" ng-show="products.pagination.showAll">...</a></li>
                        <li><a href="#" class="pages" ng-show="products.pagination.showAll" ng-bind="products.pagination.totalPages" ng-click="products.changePage($event,'pageClick', produts.pagination.totalPages)"></a></li>
                        <li><a href="#" class="pages" ng-click="products.changePage($event,'navClick', 1)">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>