﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="tacp.reject()">&times;</button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 margin-t-20 margin-b-10">
            <p class="message-delete">{{"TAC_POPUP_TEXT1" | translate}}</p>
            <p class="message-delete">
                <span>{{"TAC_POPUP_TEXT2" | translate}}</span>
                <br />
                <span>{{"TAC_POPUP_TEXT3" | translate}}</span>
                <a ui-sref="auth.static.terms-and-conditions" target="_blank" class="conditions link-status">{{"TAC_POPUP_TEXT4" | translate}}</a>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row margin-b-10">
        <div class="col-md-12 col-xs-12 text-center">
            <button class="btn-lm margin-b-20" ng-click="tacp.accept()" ng-disabled="tacp.isLoading">
                {{"TAC_POPUP_BTN1" | translate}} &amp; {{"TAC_POPUP_BTN2" | translate}}
                <i class="fa fa-spinner spinning" ng-show="tacp.isLoading"></i>
            </button>
        </div>
    </div>
</div>
