﻿<div class="container">
    <div class="row top-register">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="title text-center margin-t-40">About</h1>
            <p class="text-justify font-18 margin-t-20">
                Luxury Market is an invitation-only B2B marketplace focused exclusively on luxury goods and apparel.
                We partner with a very select group of established suppliers and retailers to enable broader access to the world's best brands.
            </p>
            <p class="text-justify font-18">
                Prior to joining our site, all of our partners must meet the highest financial standards and be approved via an independent Authentication Council.
                Our proprietary logistics network manages the goods from start to finish, ensuring a seamless delivery, quality control and customs process.
            </p>
            <div class="text-center margin-t-40" ng-if="!staticcontent.isLoggedIn">
                <div class="title">Not a Partner?</div>
                <button id="requestnewaccount" ui-sref="auth.register" class="btn-lm btn-lm-single margin-t-20">Request a New Account</button>
            </div>
            <p class="text-center margin-t-40 font-18">
                <a href="#" ng-click="staticcontent.goBack($event)">{{staticcontent.goBackText}}</a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>