﻿<div class="container">
    <div class="row top-register">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="title text-center margin-t-40 font-18 customer-title">{{'CS_TITLE' | translate}}</h1>
            <p class="text-center margin-t-40 font-18">{{'CS_SUBTITLE1' | translate}}</p>
            <p class="text-center font-18">{{'CS_SUBTITLE3' | translate}}</p>
            <p class="text-center margin-b-30 font-18">{{'CS_SUBTITLE2' | translate}}</p>
            <form id="customerServiceForm" ng-submit="customerService.addRequest()" name="customerService.customerServiceForm" novalidate>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="floating" ng-show="customerService.customerServiceForm.contactName.$dirty && !customerService.customerServiceForm.contactName.$error.required">{{'CS_CONTACT_NAME' | translate}}*</label>
                        <input id="contactName" class="text" ng-model="customerService.customerServiceModel.contactName" ng-maxlength="50" name="contactName" placeholder="{{'CS_CONTACT_NAME' | translate}}*" type="text" required>
                        <div class="error-messages" ng-messages="customerService.customerServiceForm.contactName.$error" ng-show="customerService.customerServiceForm.contactName.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'CS_FIELD_REQUIRED'| translate}}</div>
                            <div ng-message="maxlength" class="message">{{'CS_FIELD_TOO_LONG'| translate}}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="floating" ng-show="customerService.customerServiceForm.companyName.$dirty && !customerService.customerServiceForm.companyName.$error.required">{{'CS_COMPANY_NAME' | translate}}*</label>
                        <input id="companyName" class="text" ng-model="customerService.customerServiceModel.companyName" ng-maxlength="50" name="companyName" placeholder="{{'CS_COMPANY_NAME' | translate}}*" type="text" required>
                        <div class="error-messages" ng-messages="customerService.customerServiceForm.companyName.$error" ng-show="customerService.customerServiceForm.companyName.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'CS_FIELD_REQUIRED'| translate}}</div>
                            <div ng-message="maxlength" class="message">{{'CS_FIELD_TOO_LONG'| translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="floating" ng-show="customerService.customerServiceForm.contactEmail.$dirty && !customerService.customerServiceForm.contactEmail.$error.required">{{'CS_CONTACT_EMAIL' | translate}}*</label>
                        <input id="contactEmail" class="text" ng-model="customerService.customerServiceModel.contactEmail" ng-maxlength="50" name="contactEmail" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i" placeholder="{{'CS_CONTACT_EMAIL' | translate}}*" type="text" required>
                        <div class="error-messages" ng-messages="customerService.customerServiceForm.contactEmail.$error" ng-show="customerService.customerServiceForm.contactEmail.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'CS_FIELD_REQUIRED'| translate}}</div>
                            <div ng-message="maxlength" class="message">{{'CS_FIELD_TOO_LONG'| translate}}</div>
                            <div ng-message="pattern" class="message">{{'CS_EMAIL_INVALID' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="floating" ng-show="customerService.customerServiceForm.contactPhoneNumber.$dirty && !customerService.customerServiceForm.contactPhoneNumber.$error.required">{{'CS_CONTACT_PHONE' | translate}}*</label>
                        <input id="contactPhoneNumber" class="text" ng-model="customerService.customerServiceModel.contactPhoneNumber" ng-maxlength="50" name="contactPhoneNumber" placeholder="{{'CS_CONTACT_PHONE' | translate}}*" type="text" required>
                        <div class="error-messages" ng-messages="customerService.customerServiceForm.contactPhoneNumber.$error" ng-show="customerService.customerServiceForm.contactPhoneNumber.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'CS_FIELD_REQUIRED'| translate}}</div>
                            <div ng-message="maxlength" class="message">{{'CS_FIELD_TOO_LONG'| translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 select-section">
                        <label class="floating" ng-show="customerService.customerServiceForm.topicID.$dirty && !customerService.customerServiceForm.topicID.$error.required">{{'CS_SELECT_TOPIC'| translate}}*</label>
                        <select id="topic" class="center select-row" name="topicID" ng-class="{'light' : customerService.customerServiceForm.topicID.$error.required}" ng-options="item.topicID as item.name for item in customerService.topicList" ng-model="customerService.customerServiceModel.topicID" required></select>
                        <div class="error-messages" ng-messages="customerService.customerServiceForm.topicID.$error" ng-show="customerService.customerServiceForm.topicID.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'CS_FIELD_REQUIRED'| translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 register">
                        <label class="floating" ng-show="customerService.customerServiceForm.questionText.$dirty && !customerService.customerServiceForm.questionText.$error.required">{{'CS_COMMENTS_AND_QUESTIONS' | translate}}*</label>
                        <textarea id="questionText" class="description-box" ng-model="customerService.customerServiceModel.questionText" ng-maxlength="250" name="questionText" placeholder="{{'CS_COMMENTS_AND_QUESTIONS' | translate}}*" rows="7" required></textarea>
                        <div class="error-messages error-textarea" ng-messages="customerService.customerServiceForm.questionText.$error" ng-show="customerService.customerServiceForm.questionText.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'CS_FIELD_REQUIRED'| translate}}</div>
                            <div ng-message="maxlength" class="message">{{'CS_FIELD_TOO_LONG'| translate}}</div>
                        </div>
                    </div>
                </div>
                <p class="italic text-center font-18">{{'CS_REVIEQ_AND_CONTACT' | translate}}</p>
                <p class="italic text-center font-18 margin-b-30">{{'CS_THANK_YOU' | translate}}</p>
                <div class="row">
                    <div class="col-md-12 register">
                        <div class="form-group text-center">
                            <button id="submit" class="btn-lm btn-lm-single margin-b-20" type="submit" ng-disabled="customerService.customerServiceForm.$dirty && (customerService.customerServiceForm.$invalid || customerService.isLoadingRequest)">
                                {{'CS_SUBMIT_REQUEST' | translate}}
                                <i class="fa fa-spinner spinning" ng-show="customerService.isLoadingRequest"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>