﻿<div class="container create-password-page">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 text-center password-container">
            <h1 class="title-page margin-b-30">one more step</h1>
            <h1 class="text margin-b-40">Setup your password for the account <span class="bold">{{reset.setupPasswordModel.email}}</span></h1>
            <div class="row">
                <div class="col-lg-2 col-md-1 col-sm-1"></div>
                <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12">
                    <form name="reset.setupPasswordForm" novalidate
                      ng-submit="reset.submit()">

                      <div class="submit-error" ng-show="reset.hasError">{{reset.error_message}}</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group show-error">
                                    <label class="floating"
                                      ng-if="reset.setupPasswordForm.password.$dirty && !reset.setupPasswordForm.password.$error.required">Password</label>
                                    <input id="contactname" class="input-text"
                                      maxlength="35" name="password" placeholder="Password"
                                      type="password" required autocomplete="off" autofocus="true"
                                      ng-class="{ 'error-text': reset.validateField('password')}"
                                      ng-model="reset.setupPasswordModel.password">
                                    <!-- <span class="valid-message error-icon">
                                      <i class="fa" aria-hidden="true"
                                        ng-class="{ 'fa-check': reset.setupPasswordForm.password.$valid, 'fa-times': reset.validateField('password'), 'invalid-input': reset.validateField('password') }"></i>
                                    </span> -->
                                    <!-- <div class="error-messages" role="alert"
                                      ng-messages="reset.setupPasswordForm.password.$error"
                                      ng-if="reset.validateField('password')">
                                      <div class="message" ng-message="required">
                                        Field is required
                                      </div>
                                    </div> -->
                                    <password-check-preconditions
                                      ng-model="reset.setupPasswordModel.password"></password-check-preconditions>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12  padding-r-10">
                                <div class="form-group show-error">
                                    <label class="floating"
                                      ng-if="reset.setupPasswordForm.confirmPassword.$dirty && !reset.setupPasswordForm.confirmPassword.$error.required">Confirm password</label>
                                    <input id="contactname" class="input-text"
                                      maxlength="35" name="confirmPassword" placeholder="Confirm password"
                                      type="password" required autocomplete="off"
                                      ng-class="{ 'error-text': reset.validateField('confirmPassword') }"
                                      ng-model="reset.setupPasswordModel.confirmPassword"
                                      compare-to="reset.setupPasswordModel.password">
                                    <!-- <span class="valid-message error-icon">
                                      <i class="fa" aria-hidden="true"
                                        ng-class="{ 'fa-check': reset.setupPasswordForm.confirmPassword.$valid, 'fa-times': reset.validateField('confirmPassword'), 'invalid-input': reset.validateField('confirmPassword') }"></i>
                                    </span> -->
                                    <div class="error-messages" role="alert"
                                      ng-messages="reset.setupPasswordForm.confirmPassword.$error"
                                      ng-if="reset.validateField('confirmPassword')">
                                      <div class="message" ng-message="required">
                                        Field is required
                                      </div>
                                      <div class="message" ng-message="compareTo">
                                        Passwords don't match
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group terms">
                                    <input type="checkbox" id="terms" name="agreeTC" required>
                                    <label for="terms" id="termsconditionscheckbox" class="terms-font"><span></span>I agree to <a href="#" class="underline">Terms & Conditions</a></label>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12 padding-r-10">
                                <div class="form-group">
                                    <button class="btn-lm btn-lm-single" type="submit"
                                      ng-disabled="reset.isLoading">
                                        submit
                                        <i class="fa fa-spinner spinning" ng-show="reset.isLoading"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-1"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
    </div>
</div>

<!--<div id="top-footer">
    <div class="container footer-m nopadding">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
                <span class="border-l"></span>
            </div>
            <div class="col-sm-12 col-md-2 col-sm-4 col-xs-6">
                <img src="assets/images/logos/2.png" alt="">
            </div>
            <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
                <span class="border-l"></span>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-8 navigation">
                    <a href="#" class="page">customer service</a>
                    <a href="#" class="page">create account</a>
                    <a href="#" class="page last-page">login</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-2"></div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                    <p class="signature">&copy;Luxury Market 2017 </p>
                </div>
            </div>
        </div>
    </div>
</div>-->
