﻿<div class="container login-container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div id="resetpasswordform" class="col-lg-4 col-md-5 col-sm-6 login-home">
            <div class="title">Forgot Password</div>
            <form ng-submit="forgotpass.changePassword()" name="forgotpass.forgotForm" novalidate>
                <div class="submit-error" ng-show="forgotpass.hasError">{{forgotpass.error_message}}</div>
                <div class="form-group">
                    <label class="floating" ng-show="forgotpass.forgotForm.email.$dirty && !forgotpass.forgotForm.email.$error.required">EMAIL ADDRESS</label>
                    <input id="forgotpassemail" class="text" ng-model="forgotpass.forgotPasswordModel.email" name="email" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i" placeholder="EMAIL ADDRESS" type="text" required />
                    <div class="error-messages" ng-messages="forgotpass.forgotForm.email.$error" ng-show="forgotpass.forgotForm.email.$dirty" role="alert">
                        <div ng-message="required" class="message">Email is required</div>
                        <div ng-message="pattern" class="message">Email is invalid</div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="changepassword" class="btn-lm btn-lm-single margin-b-20" type="submit" ng-disabled="forgotpass.forgotForm.$dirty && (forgotpass.forgotForm.$invalid || forgotpass.isLoading)">
                        Change password
                        <i class="fa fa-spinner spinning" ng-show="forgotpass.isLoading"></i>
                    </button>
                </div>
                <div class="form-group">
                    <a id="backtologin" href="#" ui-sref="auth.login">Go to Login</a>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>