﻿<!-- Start Header -->
<header id="header-luxury">
    <div class="container head">
        <div class="main-menu-wapper">
            <div class="row">
                <div class="col-sm-12 col-md-12 menu-wapper">
                    <div class="top-header">
                        <div class="row">
                            <div class="col-sm-3 col-md-7 col-lg-4"></div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 logo">
                                <img src="assets/images/logos/3.png" class="pointer" ng-click="main.navigateFromLogo($event)" alt="logo">
                            </div>
                            <div class="col-xs-10 col-sm-9 col-md-5 col-lg-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header-->

<ui-view></ui-view>

<!-- Footer -->
<div id="top-footer" class="register-footer">
    <div class="container footer-m nopadding">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
                <span class="border-l"></span>
            </div>
            <div class="col-sm-12 col-md-2 col-sm-4 col-xs-6">
                <img src="assets/images/logos/2.png" alt="">
            </div>
            <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
                <span class="border-l"></span>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 new-navigation center-footer">
                    <a href="#" class="page" ui-sref="auth.static.customer-service" ui-sref-active="toHide">customer service</a>
                    <a href="#" class="page" ui-sref="auth.register" ui-sref-active="toHide">create account</a>
                    <a href="#" class="page" ui-sref="auth.login" ui-sref-active="toHide">login</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-2"></div>
                <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
                    <p class="signature">&copy;Luxury Market 2017 </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End footer -->