﻿<div class="container login-page">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 text-center margin-t-30 xs-screen login-container">
            <div class="title">partner log in</div>
            <div class="row">
                <div class="col-lg-2 col-md-1 col-sm-2"></div>
                <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12 margin-t-30">
                    <form name="login.loginForm" novalidate ng-submit="login.login()">
                        <div class="submit-error" ng-show="login.hasError">{{login.error_message}}</div>
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="login.loginForm.userName.$dirty && !login.loginForm.userName.$error.required">Email</label>
                            <input class="input-text" name="userName" autofocus="true"
                              placeholder="Email" type="text" required maxlength="35"
                              ng-model="login.loginModel.userName"
                              ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i"
                              ng-class="{ 'error-text': login.validateField('userName') }">
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': login.loginForm.userName.$valid, 'lm-uncheck': login.validateField('userName'), 'invalid-input': login.validateField('userName') }"></i>
                            </span>
                            <div class="error-messages" role="alert"
                              ng-messages="login.loginForm.$error"
                              ng-show="login.validateField('userName')">
                                <div class="message" ng-message="pattern">Your email is not valid!</div>
                                <div class="message" ng-message="required">
                                  Field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="login.loginModel.password.length">Password</label>
                            <input class="input-text" name="password" maxlength="35"
                              placeholder="Password" type="password" required
                              ng-model="login.loginModel.password"
                              ng-class="{ 'error-text': login.validateField('password')}">
                              <span class="valid-message error-icon">
                                <i class="" aria-hidden="true"
                                  ng-class="{ 'lm-check': login.loginForm.password.$valid, 'lm-uncheck': login.validateField('password'), 'invalid-input': login.validateField('password') }"></i>
                              </span>
                            <div class="error-messages" role="alert"
                              ng-messages="login.loginForm.$error"
                              ng-if="login.validateField('password')">
                                <div class="message" ng-message="required">Field is required</div>
                            </div>
                        </div>
                        <div class="text-center margin-b-20">
                            <a ui-sref="auth.forgot-password" class="standard-text underline-none">Forgot password</a>
                        </div>
                        <div class="form-group">
                            <button class="btn-lm btn-lm-single margin-b-50" type="submit"
                                ng-disabled="login.loginForm.$dirty && (login.loginForm.$invalid || login.isLoading)">
                                login
                                <i class="fa fa-spinner spinning" ng-show="login.isLoading"></i>
                            </button>
                        </div>
                        <div class="col-md-12 margin-b-20">
                            <div class="title text-center">not a partner?</div>
                        </div>
                        <div class="form-group">
                            <button class="btn-lm btn-lm-single"
                              ui-sref="auth.register">
                                request a new account
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-2"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
    </div>
</div>

<!-- New footer -->

<!--<div id="top-footer">
    <div class="container footer-m nopadding">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
                <span class="border-l"></span>
            </div>
            <div class="col-sm-12 col-md-2 col-sm-4 col-xs-6">
                <img src="assets/images/logos/2.png" alt="">
            </div>
            <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
                <span class="border-l"></span>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-8 navigation">
                    <a href="#" class="page">customer service</a>
                    <a href="#" class="page">create account</a>
                    <a href="#" class="page last-page">login</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-2"></div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                    <p class="signature">&copy;Luxury Market 2017 </p>
                </div>
            </div>
        </div>
    </div>
</div>-->
