  <script async defer type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5YmyJvtMLJtKtSkfWjXHk9chSnSKMUwk&libraries=places"></script>
<!-- AIzaSyDUDr4M0TXJhS4aG53nZClTlurgvQjiY_g -->
<div class="container register-page">
    <div class="row">
        <div class="col-md-12 margin-t-20 text-center">
            <div class="title">partner registration request</div>
            <div class="sub-title">Luxury Market is reserved for registered members.<br />We will review your request and respond within 24 hours. Thank you!</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-2">
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12 margin-t-20 register-container">
            <form name="register.registerForm" novalidate
              ng-submit="register.requestNewAccount()">

                <div class="form-group buyer-seller margin-b-40">
                    <span class="label-name">Register as&#58;</span>
                    <input type="radio" id="buyerinput" name="companyType" value="1" checked="checked"
                      ng-model="register.requestModel.companyType" ng-checked="register.requestModel.companyType === 1"/>
                    <label for="buyerinput" id="buyer" class="check-name"><span></span>Buyer</label>
                    <input type="radio" id="sellerinput" name="companyType" value="2"
                      ng-model="register.requestModel.companyType" />
                    <label id="seller" for="sellerinput" class="check-name"><span></span>Seller</label>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="name">contact information</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 padding-r-10">
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="register.requestModel.contactName.length">Contact name</label>
                            <input id="contactName" class="input-text" name="contactName"
                              placeholder="Contact name" type="text" maxlength="35" autofocus="true"
                              ng-class="{ 'error-text': register.validateField('contactName') }"
                              ng-model="register.requestModel.contactName" required/>
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': register.registerForm.contactName.$valid, 'lm-uncheck': register.validateField('contactName'), 'invalid-input': register.validateField('contactName') }"></i>
                            </span>

                            <div class="error-messages text-left" role="alert"
                              ng-messages="register.registerForm.contactName.$error"
                              ng-if="register.validateField('contactName')">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="maxlength" class="message">Company name is too long</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 padding-l-10">
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="register.registerForm.phoneNumber.$dirty && !register.registerForm.phoneNumber.$error.required">Phone</label>
                            <input id="" class="input-text" name="phoneNumber"
                              placeholder="Phone" type="text" required
                              maxlength="35" ng-pattern="/^[0-9\s\-()+\.]+$/"
                              ng-class="{ 'error-text': register.validateField('phoneNumber') }"
                              ng-model="register.requestModel.phoneNumber" />
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': register.registerForm.phoneNumber.$valid, 'lm-uncheck': register.validateField('phoneNumber'), 'invalid-input': register.validateField('phoneNumber') }"></i>
                            </span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.phoneNumber.$error"
                              ng-if="register.validateField('phoneNumber')">
                                <div ng-message="pattern" class="message">Your phone number is not valid!</div>
                                <div ng-message="required" class="message">Field is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="register.registerForm.email.$dirty && !register.registerForm.email.$error.required">Email</label>
                            <input id="" class="input-text" name="email"
                              placeholder="Email" type="text" required
                              maxlength="35" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i"
                            	ng-class="{ 'error-text': register.validateField('email') }"
                              ng-model="register.requestModel.email" />
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': register.registerForm.email.$valid, 'lm-uncheck': register.validateField('email'), 'invalid-input': register.validateField('email') }"></i>
                            </span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.email.$error"
                              ng-if="register.validateField('email')">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="pattern" class="message">Your email is not valid!</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 show-error">
                        <p class="name">business information</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="register.requestModel.companyName.length">Company name</label>
                            <input id="" class="input-text" name="companyName"
                              placeholder="Company name" type="text" required
                              maxlength="35"
                              ng-class="{ 'error-text': register.validateField('companyName') }"
                              ng-model="register.requestModel.companyName"
                              place-autocomplete/>
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': register.registerForm.companyName.$valid, 'lm-uncheck':register.validateField('companyName'), 'invalid-input': register.validateField('companyName') }"></i>
                            </span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.companyName.$error"
                              ng-if="register.validateField('companyName')">
                                <div class="message">This field is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="register.requestModel.streetAddress.length">Street address</label>
                            <input id="" class="input-text" name="streetAddress"
                              placeholder="Street address" type="text" required ng-maxlength="35"
                              ng-class="{ 'error-text': register.validateField('streetAddress') }"
                              ng-model="register.requestModel.streetAddress"/>
                              <!-- ng-keyup="register.getPlaceDetails($event)" -->
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': register.registerForm.streetAddress.$valid, 'lm-uncheck': register.validateField('streetAddress'), 'invalid-input': register.validateField('streetAddress')}"></i>
                            </span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.streetAddress.$error"
                              ng-if="register.validateField('streetAddress')">
                                <div ng-message="required" class="message">Street address is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 padding-r-10">
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="register.requestModel.city.length">City</label>
                            <input id="" class="input-text" name="city"
                              placeholder="City" type="text" required
                              maxlength="35"
                              ng-class="{ 'error-text': register.validateField('city') }"
                              ng-model="register.requestModel.city"/>
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': register.registerForm.city.$valid, 'lm-uncheck': register.validateField('city'), 'invalid-input': register.validateField('city') }"></i>
                            </span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.city.$error"
                              ng-if="register.validateField('city')">
                                <div ng-message="required" class="message">Field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 padding-l-10">
                        <div class="form-group dropdown-filter show-error">
                            <label class="floating"
                              ng-if="register.requestModel.stateId !== null">State</label>
                            <select id="" class="input-text select-box"
                              name="stateId"  type="text" required 
                              ng-class="{ 'show-error': register.registerForm.stateId.$error }"
                              ng-model="register.requestModel.stateId"
                              ng-options="opt.stateId as opt.abbreviation + ' - ' + opt.stateName for opt in register.states">
                                <option value="" disabled selected>State</option>
                            </select>
                            <span class="caret-down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.stateId.$error"
                              ng-if="register.validateField('stateId')">
                                <div ng-message="required" class="message">Field is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6 padding-r-10">
                        <div class="form-group show-error">
                            <label class="floating"
                              ng-if="register.requestModel.zipCode.length">Zip code</label>
                            <input id="" class="input-text" name="zipCode"
                              placeholder="Zip code" type="text" required
                              maxlength="35"
                              ng-class="{'error-text': register.validateField('zipCode') }"
                              ng-model="register.requestModel.zipCode"/>
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': register.registerForm.zipCode.$valid, 'lm-uncheck': register.validateField('zipCode'), 'invalid-input': register.validateField('zipCode') }"></i>
                            </span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.zipCode.$error"
                              ng-if="register.validateField('zipCode')">
                                <div ng-message="required" class="message">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 padding-l-10">
                        <div class="form-group dropdown-filter show-error">
                            <label class="floating"
                              ng-if="register.requestModel.countryId !== null">Country</label>
                            <select class="input-text select-box"  ng-required required
                              name="countryId" placeholder="Country" type="text"
                              ng-class="{ 'show-error': register.registerForm.countryId.$error }"
                              ng-model="register.requestModel.countryId"
                              ng-change="register.updateStates(register.requestModel.countryId)"
                              ng-options="opt.id as opt.countryName for opt in register.countries">
                              <option value="" disabled class="color">Country</option>
                            </select>

                            <span class="caret-down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.countryId.$error"
                              ng-if="register.registerForm.countryId.$dirty && register.registerForm.countryId.$invalid">
                                <div ng-message="required" class="message">Field is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group margin-b-10 show-error">
                            <label class="floating"
                              ng-if="register.requestModel.briefDescription.length">Brief description</label>
                            <textarea id="" class="description-box text-left input-text"
                              name="briefDescription"  placeholder="Brief description" required
                              rows="4" maxlength="500"
                              ng-class="{ 'error-text': register.validateField('briefDescription') }"
                              ng-model="register.requestModel.briefDescription"></textarea>
                            <span class="valid-message error-icon">
                              <i class="" aria-hidden="true"
                                ng-class="{ 'lm-check': register.registerForm.briefDescription.$valid, 'lm-uncheck': register.validateField('briefDescription'), 'invalid-input': register.validateField('briefDescription') }"></i>
                            </span>
                            <div class="error-messages" role="alert"
                              ng-messages="register.registerForm.briefDescription.$error"
                              ng-if="register.validateField('briefDescription')">
                                <div ng-message="required" class="message">This field is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-6 col-sm-6 text-center">
                        <div class="form-group">
                            <button id="submit" class="btn-lm btn-lm-single" type="submit"
                              ng-disabled="register.isLoading">
                                submit request
                                <i class="fa fa-spinner spinning"  ng-if="register.isLoading"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="standard-text">
                          <span class="register-back-btn" ui-sref="auth.login">I am already a member</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-sm-2">
        </div>
    </div>
</div>
